
<div>
    <legend *ngIf="componentConfig.showToolBar"  class="k-form-legend">{{ this.starServices.getNLS([],"SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.component_title","Alarm Behavior") }}</legend>
<div class="form-toolbar"> </div>
<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">


    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery( form);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form.value);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="onCancel($event)" *ngIf="componentConfig.queryable"></kendo-toolbar-button >

    <kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (componentConfig.queryable || componentConfig.navigable)">
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button >
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>

    <kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="componentConfig.insertable && !isSearch"></kendo-toolbar-button>

    <kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form)" *ngIf="(starServices.dataExits(this)|| isNew) && !isChild && componentConfig.updateable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf=" starServices.dataExits(this) && componentConfig.removeable && !isSearch">Remove</kendo-toolbar-button>

    <kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>     
</kendo-toolbar>


<kendo-pdf-export #pdf paperSize="A4" margin="2cm">


  






    

           <div class="form-borders" > 
    <form class="form-layout" class="k-form k-form-horizontal" [formGroup]="form" (click)="ON_CLICK(form.value)">
    <!--fieldset class="form-fieldset"  class="k-form-fieldset" [disabled]="!componentConfig.enabled "-->
    <fieldset class="form-fieldset"  class="k-form-fieldset" >

         <legend *ngIf="FormStepsArr[1].visible" class="divTitle">{{FormStepsArr.length > 0 ?
          FormStepsArr[1].CODETEXT_LANG:this.starServices.getNLS([],"SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.component_title","Alarm Behavior") }}</legend>
			 <div *ngIf="FormStepsArr[1].visible" class="form-div">

    
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBEHAVIOR_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBEHAVIOR_ID >
		<kendo-label *ngIf="(!labelBEHAVIOR_IDTop && !isPhonePortrait) && labelBEHAVIOR_IDVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.BEHAVIOR_ID','Behavior Id') + ' *'"></kendo-label>
		<label *ngIf="(labelBEHAVIOR_IDTop || isPhonePortrait) && labelBEHAVIOR_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.BEHAVIOR_ID','Behavior Id') + ' *'}}</label>
		<input   formControlName="BEHAVIOR_ID"
 kendoTextBox  #BEHAVIOR_ID 
		[readonly]="primarKeyReadOnlyArr.isBEHAVIOR_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.BEHAVIOR_ID_Hint','Please enter Behavior Id.')"
		(click)="ON_CLICK_BEHAVIOR_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BEHAVIOR_ID($event)"    class="HIGH"  adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelAPP_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleAPP_ID >
		<kendo-label *ngIf="(!labelAPP_IDTop && !isPhonePortrait) && labelAPP_IDVisible" class="form-label" [for]="APP_ID" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.APP_ID','App Id') + ' *'"></kendo-label>
		<label *ngIf="(labelAPP_IDTop || isPhonePortrait) && labelAPP_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.APP_ID','App Id') + ' *'}}</label>
		<kendo-combobox  #APP_ID class="form-field-combobox"  [formControlName]="'APP_ID'"
		[data]="lkpArrAPP_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.APP_ID.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isAPP_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.APP_ID_Hint','Please enter App Id.')"		(click)="ON_CLICK_APP_ID($event)"
 (valueChange)="onValueChange_APP_ID($event)"    class="Base"  adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'APP_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelDISPLAY_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleDISPLAY_ID >
		<kendo-label *ngIf="(!labelDISPLAY_IDTop && !isPhonePortrait) && labelDISPLAY_IDVisible" class="form-label" [for]="DISPLAY_ID" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_ID','Display Id') + ' *'"></kendo-label>
		<label *ngIf="(labelDISPLAY_IDTop || isPhonePortrait) && labelDISPLAY_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_ID','Display Id') + ' *'}}</label>
		<kendo-combobox  #DISPLAY_ID class="form-field-combobox"  [formControlName]="'DISPLAY_ID'"
		[data]="lkpArrDISPLAY_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.DISPLAY_ID.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isDISPLAY_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_ID_Hint','Please enter Display Id.')"		(click)="ON_CLICK_DISPLAY_ID($event)"
 (valueChange)="onValueChange_DISPLAY_ID($event)"    class="Base"  adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'DISPLAY_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHAPE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHAPE_ID >
		<kendo-label *ngIf="(!labelSHAPE_IDTop && !isPhonePortrait) && labelSHAPE_IDVisible" class="form-label" [for]="SHAPE_ID" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.SHAPE_ID','Shape Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSHAPE_IDTop || isPhonePortrait) && labelSHAPE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.SHAPE_ID','Shape Id') + ' *'}}</label>
		<kendo-combobox  #SHAPE_ID class="form-field-combobox"  [formControlName]="'SHAPE_ID'"
		[data]="lkpArrSHAPE_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.SHAPE_ID.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isSHAPE_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.SHAPE_ID_Hint','Please enter Shape Id.')"		(click)="ON_CLICK_SHAPE_ID($event)"
 (valueChange)="onValueChange_SHAPE_ID($event)"    class="Base"  adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'SHAPE_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelALLOW_COLUMNS_RESIZEDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleALLOW_COLUMNS_RESIZED >
		<kendo-label *ngIf="(!labelALLOW_COLUMNS_RESIZEDTop && !isPhonePortrait) && labelALLOW_COLUMNS_RESIZEDVisible" class="form-label" [for]="ALLOW_COLUMNS_RESIZED" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_COLUMNS_RESIZED','Allow Columns Resized')"></kendo-label>
		<label *ngIf="(labelALLOW_COLUMNS_RESIZEDTop || isPhonePortrait) && labelALLOW_COLUMNS_RESIZEDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_COLUMNS_RESIZED','Allow Columns Resized')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="ALLOW_COLUMNS_RESIZED"
  #ALLOW_COLUMNS_RESIZED kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_COLUMNS_RESIZED_Hint','Please enter Allow Columns Resized.')"		(click)="ON_CLICK_ALLOW_COLUMNS_RESIZED($event)"
 (change)="onChange_ALLOW_COLUMNS_RESIZED($event)"    class="MEDIUM"  adaptiveMode="auto" 
 kendoTooltip 
 [title]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_COLUMNS_RESIZED_Hint','Please enter Allow Columns Resized.')" 
 />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelALLOW_SORTING_CLICK_HEADINGSTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleALLOW_SORTING_CLICK_HEADINGS >
		<kendo-label *ngIf="(!labelALLOW_SORTING_CLICK_HEADINGSTop && !isPhonePortrait) && labelALLOW_SORTING_CLICK_HEADINGSVisible" class="form-label" [for]="ALLOW_SORTING_CLICK_HEADINGS" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_SORTING_CLICK_HEADINGS','Allow Sorting Click Headings')"></kendo-label>
		<label *ngIf="(labelALLOW_SORTING_CLICK_HEADINGSTop || isPhonePortrait) && labelALLOW_SORTING_CLICK_HEADINGSVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_SORTING_CLICK_HEADINGS','Allow Sorting Click Headings')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="ALLOW_SORTING_CLICK_HEADINGS"
  #ALLOW_SORTING_CLICK_HEADINGS kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_SORTING_CLICK_HEADINGS_Hint','Please enter Allow Sorting Click Headings.')"		(click)="ON_CLICK_ALLOW_SORTING_CLICK_HEADINGS($event)"
 (change)="onChange_ALLOW_SORTING_CLICK_HEADINGS($event)"    class="MEDIUM"  adaptiveMode="auto" 
 kendoTooltip 
 [title]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_SORTING_CLICK_HEADINGS_Hint','Please enter Allow Sorting Click Headings.')" 
 />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelDISPLAY_CONTEXT_MENUTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleDISPLAY_CONTEXT_MENU >
		<kendo-label *ngIf="(!labelDISPLAY_CONTEXT_MENUTop && !isPhonePortrait) && labelDISPLAY_CONTEXT_MENUVisible" class="form-label" [for]="DISPLAY_CONTEXT_MENU" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_CONTEXT_MENU','Display Context Menu')"></kendo-label>
		<label *ngIf="(labelDISPLAY_CONTEXT_MENUTop || isPhonePortrait) && labelDISPLAY_CONTEXT_MENUVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_CONTEXT_MENU','Display Context Menu')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="DISPLAY_CONTEXT_MENU"
  #DISPLAY_CONTEXT_MENU kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_CONTEXT_MENU_Hint','Please enter Display Context Menu.')"		(click)="ON_CLICK_DISPLAY_CONTEXT_MENU($event)"
 (change)="onChange_DISPLAY_CONTEXT_MENU($event)"    class="MEDIUM"  adaptiveMode="auto" 
 kendoTooltip 
 [title]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_CONTEXT_MENU_Hint','Please enter Display Context Menu.')" 
 />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelROW_DOUBLE_CLICK_ACTIONTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleROW_DOUBLE_CLICK_ACTION >
		<kendo-label *ngIf="(!labelROW_DOUBLE_CLICK_ACTIONTop && !isPhonePortrait) && labelROW_DOUBLE_CLICK_ACTIONVisible" class="form-label" [for]="ROW_DOUBLE_CLICK_ACTION" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ROW_DOUBLE_CLICK_ACTION','Row Double Click Action')"></kendo-label>
		<label *ngIf="(labelROW_DOUBLE_CLICK_ACTIONTop || isPhonePortrait) && labelROW_DOUBLE_CLICK_ACTIONVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ROW_DOUBLE_CLICK_ACTION','Row Double Click Action')}}</label>
		<kendo-combobox  #ROW_DOUBLE_CLICK_ACTION class="form-field-combobox"  [formControlName]="'ROW_DOUBLE_CLICK_ACTION'"
		[data]="lkpArrROW_DOUBLE_CLICK_ACTION" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ROW_DOUBLE_CLICK_ACTION_Hint','Please enter Row Double Click Action.')"		(click)="ON_CLICK_ROW_DOUBLE_CLICK_ACTION($event)"
 (valueChange)="onValueChange_ROW_DOUBLE_CLICK_ACTION($event)"    class="MEDIUM"  adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'ROW_DOUBLE_CLICK_ACTION')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelALLOW_DETAIL_PANE_HEIGHT_ADJUSTEDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleALLOW_DETAIL_PANE_HEIGHT_ADJUSTED >
		<kendo-label *ngIf="(!labelALLOW_DETAIL_PANE_HEIGHT_ADJUSTEDTop && !isPhonePortrait) && labelALLOW_DETAIL_PANE_HEIGHT_ADJUSTEDVisible" class="form-label" [for]="ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED','Allow Detail Pane Height Adjusted')"></kendo-label>
		<label *ngIf="(labelALLOW_DETAIL_PANE_HEIGHT_ADJUSTEDTop || isPhonePortrait) && labelALLOW_DETAIL_PANE_HEIGHT_ADJUSTEDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED','Allow Detail Pane Height Adjusted')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED"
  #ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED_Hint','Please enter Allow Detail Pane Height Adjusted.')"		(click)="ON_CLICK_ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED($event)"
 (change)="onChange_ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED($event)"    class="LOW"  adaptiveMode="auto" 
 kendoTooltip 
 [title]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.ALLOW_DETAIL_PANE_HEIGHT_ADJUSTED_Hint','Please enter Allow Detail Pane Height Adjusted.')" 
 />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelDISPLAY_ERRORS_OPERATOR_ACTION_DIALOGTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleDISPLAY_ERRORS_OPERATOR_ACTION_DIALOG >
		<kendo-label *ngIf="(!labelDISPLAY_ERRORS_OPERATOR_ACTION_DIALOGTop && !isPhonePortrait) && labelDISPLAY_ERRORS_OPERATOR_ACTION_DIALOGVisible" class="form-label" [for]="DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG','Display Errors Operator Action Dialog')"></kendo-label>
		<label *ngIf="(labelDISPLAY_ERRORS_OPERATOR_ACTION_DIALOGTop || isPhonePortrait) && labelDISPLAY_ERRORS_OPERATOR_ACTION_DIALOGVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG','Display Errors Operator Action Dialog')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG"
  #DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG_Hint','Please enter Display Errors Operator Action Dialog.')"		(click)="ON_CLICK_DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG($event)"
 (change)="onChange_DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG($event)"    class="LOW"  adaptiveMode="auto" 
 kendoTooltip 
 [title]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.DISPLAY_ERRORS_OPERATOR_ACTION_DIALOG_Hint','Please enter Display Errors Operator Action Dialog.')" 
 />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHOW_OUT_OF_SCOPE_ALARM_OCCURRENCETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE >
		<kendo-label *ngIf="(!labelSHOW_OUT_OF_SCOPE_ALARM_OCCURRENCETop && !isPhonePortrait) && labelSHOW_OUT_OF_SCOPE_ALARM_OCCURRENCEVisible" class="form-label" [for]="SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE" [text]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE','Show Out Of Scope Alarm Occurrence')"></kendo-label>
		<label *ngIf="(labelSHOW_OUT_OF_SCOPE_ALARM_OCCURRENCETop || isPhonePortrait) && labelSHOW_OUT_OF_SCOPE_ALARM_OCCURRENCEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE','Show Out Of Scope Alarm Occurrence')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE"
  #SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE_Hint','Please enter Show Out Of Scope Alarm Occurrence.')"		(click)="ON_CLICK_SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE($event)"
 (change)="onChange_SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE($event)"    class="LOW"  adaptiveMode="auto" 
 kendoTooltip 
 [title]="starServices.getNLS([],'SCD_ABD_ALARM_BEHAVIOR.scdalarmBehaviorScdAbdAlarmBehavior.SHOW_OUT_OF_SCOPE_ALARM_OCCURRENCE_Hint','Please enter Show Out Of Scope Alarm Occurrence.')" 
 />
	</kendo-formfield>
</div>


    
      </div>
    </fieldset>
    </form>
    </div>
 








</kendo-pdf-export>
</div>

   <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>