

    
    
  <kendo-window [hidden]="!showFilterWindow"
   		[top]="50"
      	[left]="50"
        title="{{ title }}"
        (close)="closeFilter()"
        [state] ="isPhonePortrait ? 'maximized' : 'default' "


      >
<div>
    <!-- <legend class="k-form-legend">{{ title }}</legend> -->

<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">
    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{starServices.getNLS([],'FILTER','Filter')}}" title="{{starServices.getNLS([],'FILTER','Filter')}}" (click)="openFilter()" *ngIf="queryable2"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form2.value);" *ngIf="queryable2"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="form2.reset()" *ngIf="queryable2"></kendo-toolbar-button >
<kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (queryable2 || navigable2)">
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button >
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button>
</kendo-toolbar-buttongroup>
<kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="insertable2 && !isSearch"></kendo-toolbar-button>
<kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form2)" *ngIf="updateable2 && !isSearch"></kendo-toolbar-button>
<kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf="removeable2 && !isSearch">Remove</kendo-toolbar-button>

<kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>		
</kendo-toolbar>
<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
     <form class="form-layout" class="k-form k-form-horizontal" [formGroup]="form2" >
    <fieldset class="form-fieldset" class="k-form-fieldset" >


<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFILTER_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFILTER_ID >
		<kendo-label *ngIf="(!labelFILTER_IDTop && !isPhonePortrait) && labelFILTER_IDVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_ID','Filter Id') + ' *'"></kendo-label>
		<label *ngIf="(labelFILTER_IDTop || isPhonePortrait) && labelFILTER_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_ID','Filter Id') + ' *'}}</label>
		<input   formControlName="FILTER_ID"
 kendoTextBox  #FILTER_ID 
		[readonly]="primarKeyReadOnlyArr.isFILTER_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_ID_Hint','Please enter Filter Id.')"
		(click)="ON_CLICK_FILTER_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "   class="LOW"  adaptiveMode="auto"  />
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelAPP_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleAPP_ID >
		<kendo-label *ngIf="(!labelAPP_IDTop && !isPhonePortrait) && labelAPP_IDVisible" class="form-label" [for]="APP_ID" [text]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.APP_ID','App Id') + ' *'"></kendo-label>
		<label *ngIf="(labelAPP_IDTop || isPhonePortrait) && labelAPP_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.APP_ID','App Id') + ' *'}}</label>
		<kendo-combobox  #APP_ID class="form-field-combobox"  [formControlName]="'APP_ID'"
		[data]="lkpArrAPP_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.APP_ID_Hint','Please enter App Id.')"		(click)="ON_CLICK_APP_ID($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'APP_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFILTER_NAMETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFILTER_NAME >
		<kendo-label *ngIf="(!labelFILTER_NAMETop && !isPhonePortrait) && labelFILTER_NAMEVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_NAME','Filter Name')"></kendo-label>
		<label *ngIf="(labelFILTER_NAMETop || isPhonePortrait) && labelFILTER_NAMEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_NAME','Filter Name')}}</label>
		<input   formControlName="FILTER_NAME"
 kendoTextBox  #FILTER_NAME  [placeholder]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_NAME_Hint','Please enter Filter Name.')"
		(click)="ON_CLICK_FILTER_NAME($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "   class="HIGH"  adaptiveMode="auto"  />
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelDISPLAY_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleDISPLAY_ID >
		<kendo-label *ngIf="(!labelDISPLAY_IDTop && !isPhonePortrait) && labelDISPLAY_IDVisible" class="form-label" [for]="DISPLAY_ID" [text]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.DISPLAY_ID','Display Id') + ' *'"></kendo-label>
		<label *ngIf="(labelDISPLAY_IDTop || isPhonePortrait) && labelDISPLAY_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.DISPLAY_ID','Display Id') + ' *'}}</label>
		<kendo-combobox  #DISPLAY_ID class="form-field-combobox"  [formControlName]="'DISPLAY_ID'"
		[data]="lkpArrDISPLAY_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.DISPLAY_ID_Hint','Please enter Display Id.')"		(click)="ON_CLICK_DISPLAY_ID($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'DISPLAY_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelWHERE_CLAUSETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleWHERE_CLAUSE >
		<kendo-label *ngIf="(!labelWHERE_CLAUSETop && !isPhonePortrait) && labelWHERE_CLAUSEVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.WHERE_CLAUSE','Where Clause')"></kendo-label>
		<label *ngIf="(labelWHERE_CLAUSETop || isPhonePortrait) && labelWHERE_CLAUSEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.WHERE_CLAUSE','Where Clause')}}</label>
		<input   formControlName="WHERE_CLAUSE"
 kendoTextBox  #WHERE_CLAUSE  [placeholder]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.WHERE_CLAUSE_Hint','Please enter Where Clause.')"
		(click)="ON_CLICK_WHERE_CLAUSE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "   class="MEDIUM"  adaptiveMode="auto"  />
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHAPE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHAPE_ID >
		<kendo-label *ngIf="(!labelSHAPE_IDTop && !isPhonePortrait) && labelSHAPE_IDVisible" class="form-label" [for]="SHAPE_ID" [text]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.SHAPE_ID','Shape Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSHAPE_IDTop || isPhonePortrait) && labelSHAPE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.SHAPE_ID','Shape Id') + ' *'}}</label>
		<kendo-combobox  #SHAPE_ID class="form-field-combobox"  [formControlName]="'SHAPE_ID'"
		[data]="lkpArrSHAPE_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.SHAPE_ID_Hint','Please enter Shape Id.')"		(click)="ON_CLICK_SHAPE_ID($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'SHAPE_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>
</div>

    
	</fieldset>
	
    </form>
</kendo-pdf-export>
</div>
<app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveForm2CompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveForm2CompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>
</kendo-window>
  




<i *ngIf="componentConfig.queryable" style="font-size:20px ;" class="fas fa-sliders-h "  (click)="openFilter()"  >. Filter</i> 

	<legend class="k-form-legend" *ngIf="componentConfig.showTitle">{{ 
    componentConfig.title ? componentConfig.title :
    this.starServices.getNLS([],"SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.component_title","Alarm Display Filters") }}</legend>
	<kendo-listview   [data]="executeQueryresult.data" containerClass="k-d-flex k-flex-col k-flex-nowrap">
	<ng-template kendoListViewItemTemplate let-dataItem="dataItem" let-isLast="isLast" let-index="index" >
	 
    <kendo-card  (click)="cellClickHandler(index,dataItem)" class="fields-overflow" style ="display: flex;width:400;height: ;" >
    <div  >
		<div  >
			<div [ngClass]="isPhonePortrait ? 'standard' : 'wrap'"  >
			<kendo-icon *ngIf="componentConfig.removeable"  name="trash"  (click)="actRemove(index)"  style="margin: 5px;" class="hidden-element"></kendo-icon> 
			<kendo-icon *ngIf="componentConfig.updateable || componentConfig.insertable"  name="edit"  (click)="openEdit(index)" style="margin: 5px;"  class="hidden-element"></kendo-icon> 
			</div>
		</div> 
      <div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1': 'wrap' ">
	 <div class="card-format"  *ngIf=visibleFILTER_ID 		(click)="ON_CLICK_FILTER_ID($event)"
		 style="overflow-x: hidden;width:120px;"   class="LOW"  adaptiveMode="auto" > 
	  <i class="fas fa-key" [title]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_ID','Filter Id') + ' *'"  ></i>
		{{dataItem.FILTER_ID}} 	</div>
	 <div class="card-format"  *ngIf=visibleAPP_ID 		(click)="ON_CLICK_APP_ID($event)"
		 style="overflow-x: hidden;width:120px;"     adaptiveMode="auto" > 
	   <i  [title]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.APP_ID','App Id') + ' *'"  ></i>
		{{lkpArrGetAPP_ID (dataItem.APP_ID)?.CODETEXT_LANG}} 	</div>
	 <div class="card-format"  *ngIf=visibleFILTER_NAME 		(click)="ON_CLICK_FILTER_NAME($event)"
		 style="overflow-x: hidden;width:120px;"   class="HIGH"  adaptiveMode="auto" > 
	  <i class="fas fa-filter" [title]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.FILTER_NAME','Filter Name')"  ></i>
		{{dataItem.FILTER_NAME}} 	</div>
	 <div class="card-format"  *ngIf=visibleDISPLAY_ID 		(click)="ON_CLICK_DISPLAY_ID($event)"
		 style="overflow-x: hidden;width:120px;"     adaptiveMode="auto" > 
	   <i  [title]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.DISPLAY_ID','Display Id') + ' *'"  ></i>
		{{lkpArrGetDISPLAY_ID (dataItem.DISPLAY_ID)?.CODETEXT_LANG}} 	</div>
	 <div class="card-format"  *ngIf=visibleWHERE_CLAUSE 		(click)="ON_CLICK_WHERE_CLAUSE($event)"
		 style="overflow-x: hidden;width:120px;"   class="MEDIUM"  adaptiveMode="auto" > 
	  <i class="fas fa-code" [title]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.WHERE_CLAUSE','Where Clause')"  ></i>
		{{dataItem.WHERE_CLAUSE}} 	</div>

</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1': 'wrap' ">
	 <div class="card-format"  *ngIf=visibleSHAPE_ID 		(click)="ON_CLICK_SHAPE_ID($event)"
		 style="overflow-x: hidden;width:120px;"     adaptiveMode="auto" > 
	   <i  [title]="starServices.getNLS([],'SCD_ADFS_ALARM_DISPLAY_FILTERS.scdalarmDisplayFiltersScdAdfsAlarmDisplayFilters.SHAPE_ID','Shape Id') + ' *'"  ></i>
		{{lkpArrGetSHAPE_ID (dataItem.SHAPE_ID)?.CODETEXT_LANG}} 	</div>

</div>

		</div>
  </kendo-card>

	</ng-template>
  </kendo-listview>
  


