.k-radio-list-horizontal {
  display: inline-grid !important;
  grid-template-columns: repeat(3, max-content);
  column-gap: 4px;
  row-gap: 2px;
  justify-content: start;
}
.k-radio-label {
      display: none !important;
    }
