<div>
    <legend *ngIf="componentConfig.showToolBar"  class="k-form-legend">{{
      componentConfig.title ? componentConfig.title :
       this.starServices.getNLS([],"SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.component_title","Arrow General") }}</legend>
<div class="form-toolbar"> </div>

<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">

 
    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery( form);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form.value);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="onCancel($event)" *ngIf="componentConfig.queryable"></kendo-toolbar-button >

    <kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (componentConfig.queryable || componentConfig.navigable)">
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button >
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>

    <kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="componentConfig.insertable && !isSearch"></kendo-toolbar-button>

    <kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form)" *ngIf="(starServices.dataExits(this)|| isNew) && !isChild && componentConfig.updateable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf=" starServices.dataExits(this) && componentConfig.removeable && !isSearch">Remove</kendo-toolbar-button>

    <kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>     
</kendo-toolbar>


<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
 <div class="form-borders" > 
    <form class="form-layout" [ngClass]="isPhonePortrait ? 'k-form k-form-horizontal-star' : 'k-form k-form-horizontal' "
     [formGroup]="form" (click)="ON_CLICK(form.value)">
    <!--fieldset class="form-fieldset"  class="k-form-fieldset" [disabled]="!componentConfig.enabled && !isSearch"-->
    <fieldset class="form-fieldset"  class="k-form-fieldset" >


<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelARROW_GENERAL_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleARROW_GENERAL_ID >
		<kendo-label *ngIf="(!labelARROW_GENERAL_IDTop && !isPhonePortrait) && labelARROW_GENERAL_IDVisible" class="form-label" [for]="ARROW_GENERAL_ID" [text]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.ARROW_GENERAL_ID','Arrow General Id') + ' *'"></kendo-label>
		<label *ngIf="(labelARROW_GENERAL_IDTop || isPhonePortrait) && labelARROW_GENERAL_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.ARROW_GENERAL_ID','Arrow General Id') + ' *'}}</label>
		<input   formControlName="ARROW_GENERAL_ID"
 kendoTextBox #ARROW_GENERAL_ID 
		[readonly]="primarKeyReadOnlyArr.isARROW_GENERAL_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.ARROW_GENERAL_ID_Hint','Please enter Arrow General Id.')"
		(click)="ON_CLICK_ARROW_GENERAL_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_ARROW_GENERAL_ID($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHAPE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHAPE_ID >
		<kendo-label *ngIf="(!labelSHAPE_IDTop && !isPhonePortrait) && labelSHAPE_IDVisible" class="form-label" [for]="SHAPE_ID" [text]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.SHAPE_ID','Shape Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSHAPE_IDTop || isPhonePortrait) && labelSHAPE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.SHAPE_ID','Shape Id') + ' *'}}</label>
		<kendo-combobox  #SHAPE_ID class="form-field-combobox"  [formControlName]="'SHAPE_ID'"
		[data]="lkpArrSHAPE_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.SHAPE_ID.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isSHAPE_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.SHAPE_ID_Hint','Please enter Shape Id.')"		(click)="ON_CLICK_SHAPE_ID($event)"
 (valueChange)="onValueChange_SHAPE_ID($event)"      adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'SHAPE_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelEXPRESSION_DATATop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleEXPRESSION_DATA >
		<kendo-label *ngIf="(!labelEXPRESSION_DATATop && !isPhonePortrait) && labelEXPRESSION_DATAVisible" class="form-label" [for]="EXPRESSION_DATA" [text]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.EXPRESSION_DATA','Expression Data')"></kendo-label>
		<label *ngIf="(labelEXPRESSION_DATATop || isPhonePortrait) && labelEXPRESSION_DATAVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.EXPRESSION_DATA','Expression Data')}}</label>
		<input   formControlName="EXPRESSION_DATA"
 kendoTextBox #EXPRESSION_DATA  [placeholder]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.EXPRESSION_DATA_Hint','Please enter Expression Data.')"
		(click)="ON_CLICK_EXPRESSION_DATA($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_EXPRESSION_DATA($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSPECIFYTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSPECIFY >
		<kendo-label *ngIf="(!labelSPECIFYTop && !isPhonePortrait) && labelSPECIFYVisible" class="form-label" [for]="SPECIFY" [text]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.SPECIFY','Specify')"></kendo-label>
		<label *ngIf="(labelSPECIFYTop || isPhonePortrait) && labelSPECIFYVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.SPECIFY','Specify')}}</label>
		<input   formControlName="SPECIFY"
 kendoTextBox #SPECIFY  [placeholder]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.SPECIFY_Hint','Please enter Specify.')"
		(click)="ON_CLICK_SPECIFY($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_SPECIFY($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelMINTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleMIN >
		<kendo-label *ngIf="(!labelMINTop && !isPhonePortrait) && labelMINVisible" class="form-label" [for]="MIN" [text]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.MIN','Min')"></kendo-label>
		<label *ngIf="(labelMINTop || isPhonePortrait) && labelMINVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.MIN','Min')}}</label>
		<input   formControlName="MIN"
 kendoTextBox #MIN  [placeholder]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.MIN_Hint','Please enter Min.')"
		(click)="ON_CLICK_MIN($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_MIN($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelMAXTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleMAX >
		<kendo-label *ngIf="(!labelMAXTop && !isPhonePortrait) && labelMAXVisible" class="form-label" [for]="MAX" [text]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.MAX','Max')"></kendo-label>
		<label *ngIf="(labelMAXTop || isPhonePortrait) && labelMAXVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.MAX','Max')}}</label>
		<input   formControlName="MAX"
 kendoTextBox #MAX  [placeholder]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.MAX_Hint','Please enter Max.')"
		(click)="ON_CLICK_MAX($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_MAX($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelDIRECTIONTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleDIRECTION >
		<kendo-label *ngIf="(!labelDIRECTIONTop && !isPhonePortrait) && labelDIRECTIONVisible" class="form-label" [for]="DIRECTION" [text]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.DIRECTION','Direction')"></kendo-label>
		<label *ngIf="(labelDIRECTIONTop || isPhonePortrait) && labelDIRECTIONVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.DIRECTION','Direction')}}</label>
		<input   formControlName="DIRECTION"
 kendoTextBox #DIRECTION  [placeholder]="starServices.getNLS([],'SCD_AP_ARROW_GENERAL.scdarrowGeneralScdApArrowGeneral.DIRECTION_Hint','Please enter Direction.')"
		(click)="ON_CLICK_DIRECTION($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_DIRECTION($event)"      adaptiveMode="auto"  />
	</kendo-formfield>
</div>

    </fieldset>
    </form>
    </div>
    <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>

      <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

</kendo-pdf-export>
</div>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>
  




