.actionBtn {
    font-size: 4em;
    cursor: pointer;
}
.snapshot{
    text-align: center;
    img{
        max-width: 800px;
        max-height: 800px;
    }
}
ul.links{
    padding-bottom: 20px;
}

.options-wrapper > kendo-label {
    display: grid;
    text-align: center;
  }


  .k-step-text {
    font-size: 18px;
  } 






.img-size
  {
    margin:1 1 1 1rem;
    width:450px; 


}


  