

    
    
  <kendo-window [hidden]="!showFilterWindow"
   		[top]="50"
      	[left]="50"
        title="{{ title }}"
        (close)="closeFilter()"
        [state] ="isPhonePortrait ? 'maximized' : 'default' "


      >
<div>
    <!-- <legend class="k-form-legend">{{ title }}</legend> -->

<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">
    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{starServices.getNLS([],'FILTER','Filter')}}" title="{{starServices.getNLS([],'FILTER','Filter')}}" (click)="openFilter()" *ngIf="queryable2"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form2.value);" *ngIf="queryable2"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="form2.reset()" *ngIf="queryable2"></kendo-toolbar-button >
<kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (queryable2 || navigable2)">
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button >
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="navigable2 && !isSearch"></kendo-toolbar-button>
</kendo-toolbar-buttongroup>
<kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="insertable2 && !isSearch"></kendo-toolbar-button>
<kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form2)" *ngIf="updateable2 && !isSearch"></kendo-toolbar-button>
<kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf="removeable2 && !isSearch">Remove</kendo-toolbar-button>

<kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>		
</kendo-toolbar>
<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
     <form class="form-layout" class="k-form k-form-horizontal" [formGroup]="form2" >
    <fieldset class="form-fieldset" class="k-form-fieldset" >


<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSTATE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSTATE_ID >
		<kendo-label *ngIf="(!labelSTATE_IDTop && !isPhonePortrait) && labelSTATE_IDVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.STATE_ID','State Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSTATE_IDTop || isPhonePortrait) && labelSTATE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.STATE_ID','State Id') + ' *'}}</label>
		<input   formControlName="STATE_ID"
 kendoTextBox  #STATE_ID 
		[readonly]="primarKeyReadOnlyArr.isSTATE_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.STATE_ID_Hint','Please enter State Id.')"
		(click)="ON_CLICK_STATE_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "   class="HIGH"  adaptiveMode="auto"  />
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHOW_EVENT_TYPETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHOW_EVENT_TYPE >
		<kendo-label *ngIf="(!labelSHOW_EVENT_TYPETop && !isPhonePortrait) && labelSHOW_EVENT_TYPEVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHOW_EVENT_TYPE','Show Event Type')"></kendo-label>
		<label *ngIf="(labelSHOW_EVENT_TYPETop || isPhonePortrait) && labelSHOW_EVENT_TYPEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHOW_EVENT_TYPE','Show Event Type')}}</label>
		<input   formControlName="SHOW_EVENT_TYPE"
 kendoTextBox  #SHOW_EVENT_TYPE  [placeholder]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHOW_EVENT_TYPE_Hint','Please enter Show Event Type.')"
		(click)="ON_CLICK_SHOW_EVENT_TYPE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "   class="MEDIUM"  adaptiveMode="auto"  />
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelPRIORITYTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visiblePRIORITY >
		<kendo-label *ngIf="(!labelPRIORITYTop && !isPhonePortrait) && labelPRIORITYVisible" class="form-label" [for]="PRIORITY" [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.PRIORITY','Priority')"></kendo-label>
		<label *ngIf="(labelPRIORITYTop || isPhonePortrait) && labelPRIORITYVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.PRIORITY','Priority')}}</label>
		<kendo-combobox  #PRIORITY class="form-field-combobox"  [formControlName]="'PRIORITY'"
		[data]="lkpArrPRIORITY" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.PRIORITY_Hint','Please enter Priority.')"		(click)="ON_CLICK_PRIORITY($event)"
   class="MEDIUM"  adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'PRIORITY')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHAPE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHAPE_ID >
		<kendo-label *ngIf="(!labelSHAPE_IDTop && !isPhonePortrait) && labelSHAPE_IDVisible" class="form-label" [for]="SHAPE_ID" [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHAPE_ID','Shape Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSHAPE_IDTop || isPhonePortrait) && labelSHAPE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHAPE_ID','Shape Id') + ' *'}}</label>
		<kendo-combobox  #SHAPE_ID class="form-field-combobox"  [formControlName]="'SHAPE_ID'"
		[data]="lkpArrSHAPE_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHAPE_ID_Hint','Please enter Shape Id.')"		(click)="ON_CLICK_SHAPE_ID($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'SHAPE_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelTEXT_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleTEXT_COLOR >
		<kendo-label *ngIf="(!labelTEXT_COLORTop && !isPhonePortrait) && labelTEXT_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.TEXT_COLOR','Text Color')"></kendo-label>
		<label *ngIf="(labelTEXT_COLORTop || isPhonePortrait) && labelTEXT_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.TEXT_COLOR','Text Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="TEXT_COLOR"
  #TEXT_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_TEXT_COLOR($event)"
   class="LOW"  adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_TEXT_COLOR($event)"
		   class="LOW"  adaptiveMode="auto"  width="120" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.TEXT_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBACKGROUND_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBACKGROUND_COLOR >
		<kendo-label *ngIf="(!labelBACKGROUND_COLORTop && !isPhonePortrait) && labelBACKGROUND_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BACKGROUND_COLOR','Background Color')"></kendo-label>
		<label *ngIf="(labelBACKGROUND_COLORTop || isPhonePortrait) && labelBACKGROUND_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BACKGROUND_COLOR','Background Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="BACKGROUND_COLOR"
  #BACKGROUND_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_BACKGROUND_COLOR($event)"
   class="LOW"  adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_BACKGROUND_COLOR($event)"
		   class="LOW"  adaptiveMode="auto"  width="120" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.BACKGROUND_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBLINKTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBLINK >
		<kendo-label *ngIf="(!labelBLINKTop && !isPhonePortrait) && labelBLINKVisible" class="form-label" [for]="BLINK" [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BLINK','Blink')"></kendo-label>
		<label *ngIf="(labelBLINKTop || isPhonePortrait) && labelBLINKVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BLINK','Blink')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="BLINK"
  #BLINK kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BLINK_Hint','Please enter Blink.')"		(click)="ON_CLICK_BLINK($event)"
   class="LOW"  adaptiveMode="auto" 
 kendoTooltip 
 [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BLINK_Hint','Please enter Blink.')" 
 />
	</kendo-formfield>
</div>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSAMPLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSAMPLE >
		<kendo-label *ngIf="(!labelSAMPLETop && !isPhonePortrait) && labelSAMPLEVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SAMPLE','Sample')"></kendo-label>
		<label *ngIf="(labelSAMPLETop || isPhonePortrait) && labelSAMPLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SAMPLE','Sample')}}</label>
		<input   formControlName="SAMPLE"
 kendoTextBox  #SAMPLE  [placeholder]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SAMPLE_Hint','Please enter Sample.')"
		(click)="ON_CLICK_SAMPLE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "     adaptiveMode="auto"  />
	</kendo-formfield>
</div>

    
	</fieldset>
	
    </form>
</kendo-pdf-export>
</div>
<app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveForm2CompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveForm2CompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>
</kendo-window>
  




<i *ngIf="componentConfig.queryable" style="font-size:20px ;" class="fas fa-sliders-h "  (click)="openFilter()"  >. Filter</i> 

	<legend class="k-form-legend" *ngIf="componentConfig.showTitle">{{ 
    componentConfig.title ? componentConfig.title :
    this.starServices.getNLS([],"SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.component_title","Search Alarm States") }}</legend>
	<kendo-listview   [data]="executeQueryresult.data" containerClass="k-d-flex k-flex-col k-flex-nowrap">
	<ng-template kendoListViewItemTemplate let-dataItem="dataItem" let-isLast="isLast" let-index="index" >
	 
    <kendo-card  (click)="cellClickHandler(index,dataItem)" class="fields-overflow" style ="display: flex;width:400;height: ;" >
    <div  >
		<div  >
			<div [ngClass]="isPhonePortrait ? 'standard' : 'wrap'"  >
			<kendo-icon *ngIf="componentConfig.removeable"  name="trash"  (click)="actRemove(index)"  style="margin: 5px;" class="hidden-element"></kendo-icon> 
			<kendo-icon *ngIf="componentConfig.updateable || componentConfig.insertable"  name="edit"  (click)="openEdit(index)" style="margin: 5px;"  class="hidden-element"></kendo-icon> 
			</div>
		</div> 
      <div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1': 'wrap' ">
	 <div class="card-format"  *ngIf=visibleSTATE_ID 		(click)="ON_CLICK_STATE_ID($event)"
		 style="overflow-x: hidden;width:120px;"   class="HIGH"  adaptiveMode="auto" > 
	  <i class="fas fa-hashtag" [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.STATE_ID','State Id') + ' *'"  ></i>
		{{dataItem.STATE_ID}} 	</div>
	 <div class="card-format"  *ngIf=visibleSHOW_EVENT_TYPE 		(click)="ON_CLICK_SHOW_EVENT_TYPE($event)"
		 style="overflow-x: hidden;width:120px;"   class="MEDIUM"  adaptiveMode="auto" > 
	   <i  [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHOW_EVENT_TYPE','Show Event Type')"  ></i>
		{{dataItem.SHOW_EVENT_TYPE}} 	</div>
	 <div class="card-format"  *ngIf=visiblePRIORITY 		(click)="ON_CLICK_PRIORITY($event)"
		 style="overflow-x: hidden;width:120px;"   class="MEDIUM"  adaptiveMode="auto" > 
	  <i class="fas fa-exclamation-triangle" [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.PRIORITY','Priority')"  ></i>
		{{lkpArrGetPRIORITY (dataItem.PRIORITY)?.CODETEXT_LANG}} 	</div>
	 <div class="card-format"  *ngIf=visibleSHAPE_ID 		(click)="ON_CLICK_SHAPE_ID($event)"
		 style="overflow-x: hidden;width:120px;"     adaptiveMode="auto" > 
	   <i  [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SHAPE_ID','Shape Id') + ' *'"  ></i>
		{{lkpArrGetSHAPE_ID (dataItem.SHAPE_ID)?.CODETEXT_LANG}} 	</div>

</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1': 'wrap' ">
	 <div class="card-format"  *ngIf=visibleTEXT_COLOR 		(click)="ON_CLICK_TEXT_COLOR($event)"
		 style="overflow-x: hidden;width:120px;"   class="LOW"  adaptiveMode="auto" > 
	  <i class="fas fa-font" [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.TEXT_COLOR','Text Color')"  ></i>
		{{dataItem.TEXT_COLOR}} 	</div>
	 <div class="card-format"  *ngIf=visibleBACKGROUND_COLOR 		(click)="ON_CLICK_BACKGROUND_COLOR($event)"
		 style="overflow-x: hidden;width:120px;"   class="LOW"  adaptiveMode="auto" > 
	  <i class="fas fa-fill-drip" [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BACKGROUND_COLOR','Background Color')"  ></i>
		{{dataItem.BACKGROUND_COLOR}} 	</div>
<div class="card-format"  *ngIf=visibleBLINK 		(click)="ON_CLICK_BLINK($event)"
		 style="overflow-x: hidden;width:120px;"   class="LOW"  adaptiveMode="auto"  #BLINK >
	  <i class="fas fa-bolt" [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.BLINK','Blink')"  ></i>
{{dataItem.BLINK}}</div> 

	 <div class="card-format"  *ngIf=visibleSAMPLE 		(click)="ON_CLICK_SAMPLE($event)"
		 style="overflow-x: hidden;width:120px;"     adaptiveMode="auto" > 
	   <i  [title]="starServices.getNLS([],'SCD_ASS_SEARCH_ALARM_STATES.scdalarmStatesScdAssSearchAlarmStates.SAMPLE','Sample')"  ></i>
		{{dataItem.SAMPLE}} 	</div>

</div>

		</div>
  </kendo-card>

	</ng-template>
  </kendo-listview>
  


