
<div>
    <legend *ngIf="componentConfig.showToolBar"  class="k-form-legend">{{ this.starServices.getNLS([],"SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.component_title","Application Alarm and Event Setup") }}</legend>
<div class="form-toolbar"> </div>
<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">


    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery( form);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form.value);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="onCancel($event)" *ngIf="componentConfig.queryable"></kendo-toolbar-button >

    <kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (componentConfig.queryable || componentConfig.navigable)">
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button >
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>

    <kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="componentConfig.insertable && !isSearch"></kendo-toolbar-button>

    <kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form)" *ngIf="(starServices.dataExits(this)|| isNew) && !isChild && componentConfig.updateable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf=" starServices.dataExits(this) && componentConfig.removeable && !isSearch">Remove</kendo-toolbar-button>

    <kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>     
</kendo-toolbar>


<kendo-pdf-export #pdf paperSize="A4" margin="2cm">


  






    

           <div class="form-borders" > 
    <form class="form-layout" class="k-form k-form-horizontal" [formGroup]="form" (click)="ON_CLICK(form.value)">
    <!--fieldset class="form-fieldset"  class="k-form-fieldset" [disabled]="!componentConfig.enabled "-->
    <fieldset class="form-fieldset"  class="k-form-fieldset" >
    <kendo-tabstrip  [keepTabContent]="true" [tabAlignment]="alignment">
      <kendo-tabstrip-tab  [selected]="true" >
        <ng-template   kendoTabTitle>
         <legend>{{FormStepsArr.length > 0   ? FormStepsArr[1].CODETEXT_LANG 
			:  this.starServices.getNLS([],"SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.component_title","Application Alarm and Event Setup") }}
			 </legend>

        </ng-template>
        <ng-template kendoTabContent>

<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelALARM_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleALARM_ID >
		<kendo-label *ngIf="(!labelALARM_IDTop && !isPhonePortrait) && labelALARM_IDVisible" class="form-label" [for]="ALARM_ID" [text]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.ALARM_ID','Alarm Id') + ' *'"></kendo-label>
		<label *ngIf="(labelALARM_IDTop || isPhonePortrait) && labelALARM_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.ALARM_ID','Alarm Id') + ' *'}}</label>
		<input   formControlName="ALARM_ID"
 kendoTextBox #ALARM_ID 
		[readonly]="primarKeyReadOnlyArr.isALARM_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.ALARM_ID_Hint','Please enter Alarm Id.')"
		(click)="ON_CLICK_ALARM_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_ALARM_ID($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelAPPLICATION_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleAPPLICATION_ID >
		<kendo-label *ngIf="(!labelAPPLICATION_IDTop && !isPhonePortrait) && labelAPPLICATION_IDVisible" class="form-label" [for]="APPLICATION_ID" [text]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.APPLICATION_ID','Application Id') + ' *'"></kendo-label>
		<label *ngIf="(labelAPPLICATION_IDTop || isPhonePortrait) && labelAPPLICATION_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.APPLICATION_ID','Application Id') + ' *'}}</label>
		<kendo-combobox  #APPLICATION_ID class="form-field-combobox"  [formControlName]="'APPLICATION_ID'"
		[data]="lkpArrAPPLICATION_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.APPLICATION_ID.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isAPPLICATION_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.APPLICATION_ID_Hint','Please enter Application Id.')"		(click)="ON_CLICK_APPLICATION_ID($event)"
 (valueChange)="onValueChange_APPLICATION_ID($event)"      adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'APPLICATION_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelTYPETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleTYPE >
		<kendo-label *ngIf="(!labelTYPETop && !isPhonePortrait) && labelTYPEVisible" class="form-label" [for]="TYPE" [text]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.TYPE','Type')"></kendo-label>
		<label *ngIf="(labelTYPETop || isPhonePortrait) && labelTYPEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.TYPE','Type')}}</label>
		<input   formControlName="TYPE"
 kendoTextBox #TYPE  [placeholder]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.TYPE_Hint','Please enter Type.')"
		(click)="ON_CLICK_TYPE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_TYPE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelNAMETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleNAME >
		<kendo-label *ngIf="(!labelNAMETop && !isPhonePortrait) && labelNAMEVisible" class="form-label" [for]="NAME" [text]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.NAME','Name')"></kendo-label>
		<label *ngIf="(labelNAMETop || isPhonePortrait) && labelNAMEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.NAME','Name')}}</label>
		<input   formControlName="NAME"
 kendoTextBox #NAME  [placeholder]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.NAME_Hint','Please enter Name.')"
		(click)="ON_CLICK_NAME($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_NAME($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelINPUT_TAGTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleINPUT_TAG >
		<kendo-label *ngIf="(!labelINPUT_TAGTop && !isPhonePortrait) && labelINPUT_TAGVisible" class="form-label" [for]="INPUT_TAG" [text]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.INPUT_TAG','Input Tag')"></kendo-label>
		<label *ngIf="(labelINPUT_TAGTop || isPhonePortrait) && labelINPUT_TAGVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.INPUT_TAG','Input Tag')}}</label>
		<input   formControlName="INPUT_TAG"
 kendoTextBox #INPUT_TAG  [placeholder]="starServices.getNLS([],'SCD_AAAES_APPLICATION_ALARM_AND_EVENT_SETUP.scdalarmScdAaaesApplicationAlarmAndEventSetup.INPUT_TAG_Hint','Please enter Input Tag.')"
		(click)="ON_CLICK_INPUT_TAG($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_INPUT_TAG($event)"      adaptiveMode="auto"  />
	</kendo-formfield>
</div>


        </ng-template>
      </kendo-tabstrip-tab>
      </kendo-tabstrip>
      
    </fieldset>
    </form>
    </div>
 








</kendo-pdf-export>
</div>

   <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>