    <div>   
        <legend class="k-form-legend" class="screen-legend">{{ this.starServices.getNLS([],"scd_app_main.scd_app_main.component_title","") }}</legend> 
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrapScreen' ">
        <app-scd-scd-application-form  [hidden]="hide_comp_1" 
                      (readCompletedOutput)="readCompletedHandler($event)"
                      (clearCompletedOutput)="clearCompletedHandler($event)"
                      (saveCompletedOutput)="saveCompletedHandler($event)"
                      (formValidationChangedOutput)="formValidationChangedMD($event, 1)"
                      (setComponentConfig_Output)="setComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_APPLICATIONForm_0Config">
        </app-scd-scd-application-form >

</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrapScreen' ">
        <app-scd-scd-app-tree-view style="max-width: 250px;height: 100%;" [hidden]="hide_comp_2" [detail_Input]="tree_1_SCD_APP_TREE_VIEW"  
                      (formValidationChangedOutput)="formValidationChangedMD($event,2)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="setComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_APP_TREE_VIEWTree_1Config">
        </app-scd-scd-app-tree-view >



        <app-scd-mdi-win  [hidden]="hide_comp_3" [detail_Input]="formtabs_2_SCD_ALARM"  
                      (formValidationChangedOutput)="formValidationChangedMD($event,3)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="setComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARMFormtabs_2Config">
        </app-scd-mdi-win >

</div>

    </div>   
<div style="display: flex; justify-content: flex-end; gap: 10px; padding: 12px 0; margin-top: 8px;">
		<button adaptiveMode="auto" class="k-button " kendoButton title="starServices.getNLS([],'OK','Ok')"
			iconClass="fas fa-save" *ngIf=visibleOK_BTNS
			(click)="ON_CLICK_OK($event)">{{starServices.getNLS([],'OK','Ok')}}</button>

		<button adaptiveMode="auto" class="k-button " kendoButton title="starServices.getNLS([],'CANCEL','Cancel')"
			iconClass="fas fa-ban" *ngIf=visibleOK_BTNS
			(click)="ON_CLICK_CANCEL($event)">{{starServices.getNLS([],'CANCEL','Cancel')}}</button>

		<button adaptiveMode="auto" class="k-button " kendoButton title="starServices.getNLS([],'HELP','Help')"
			iconClass="fas fa-question" *ngIf=visibleOK_BTNS
			(click)="ON_CLICK_HELP($event)">{{starServices.getNLS([],'HELP','Help')}}</button>
	</div>
	
	<kendo-window [hidden]="!helpOpened" class="form-borders" [themeColor]="'primary'" [top]="0" [left]="0" title=""
		state="maximized" (close)="helpOpened=false">
		<app-dsp-upload [setComponentConfig_Input]="help_1Config">
		</app-dsp-upload>
		<button kendoButton [icon]="'close'" (click)="helpOpened=!helpOpened">
			{{this.starServices.getNLS([],"CLOSE","Close")}}</button>
	</kendo-window>

	
	