
<div>
    <legend *ngIf="componentConfig.showToolBar"  class="k-form-legend">{{ this.starServices.getNLS([],"SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.component_title","Shape State Definition") }}</legend>
<div class="form-toolbar"> </div>
<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">


    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery( form);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form.value);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="onCancel($event)" *ngIf="componentConfig.queryable"></kendo-toolbar-button >

    <kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (componentConfig.queryable || componentConfig.navigable)">
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button >
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>

    <kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="componentConfig.insertable && !isSearch"></kendo-toolbar-button>

    <kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form)" *ngIf="(starServices.dataExits(this)|| isNew) && !isChild && componentConfig.updateable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf=" starServices.dataExits(this) && componentConfig.removeable && !isSearch">Remove</kendo-toolbar-button>

    <kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>     
</kendo-toolbar>


<kendo-pdf-export #pdf paperSize="A4" margin="2cm">


  






    

           <div class="form-borders" > 
    <form class="form-layout" class="k-form k-form-horizontal" [formGroup]="form" (click)="ON_CLICK(form.value)">
    <!--fieldset class="form-fieldset"  class="k-form-fieldset" [disabled]="!componentConfig.enabled "-->
    <fieldset class="form-fieldset"  class="k-form-fieldset" >
    
         <legend class="divTitle">{{FormStepsArr.length > 0   ? FormStepsArr[1].CODETEXT_LANG 
			:  this.starServices.getNLS([],"SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.component_title","Shape State Definition") }}
			 </legend>
			 <div class="form-div">

    
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHAPE_STATE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHAPE_STATE_ID >
		<kendo-label *ngIf="(!labelSHAPE_STATE_IDTop && !isPhonePortrait) && labelSHAPE_STATE_IDVisible" class="form-label" [for]="SHAPE_STATE_ID" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SHAPE_STATE_ID','Shape State Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSHAPE_STATE_IDTop || isPhonePortrait) && labelSHAPE_STATE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SHAPE_STATE_ID','Shape State Id') + ' *'}}</label>
		<input   formControlName="SHAPE_STATE_ID"
 kendoTextBox #SHAPE_STATE_ID 
		[readonly]="primarKeyReadOnlyArr.isSHAPE_STATE_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SHAPE_STATE_ID_Hint','Please enter Shape State Id.')"
		(click)="ON_CLICK_SHAPE_STATE_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "     adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHAPE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHAPE_ID >
		<kendo-label *ngIf="(!labelSHAPE_IDTop && !isPhonePortrait) && labelSHAPE_IDVisible" class="form-label" [for]="SHAPE_ID" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SHAPE_ID','Shape Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSHAPE_IDTop || isPhonePortrait) && labelSHAPE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SHAPE_ID','Shape Id') + ' *'}}</label>
		<kendo-combobox  #SHAPE_ID class="form-field-combobox"  [formControlName]="'SHAPE_ID'"
		[data]="lkpArrSHAPE_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.SHAPE_ID.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isSHAPE_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SHAPE_ID_Hint','Please enter Shape Id.')"		(click)="ON_CLICK_SHAPE_ID($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'SHAPE_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSTATE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSTATE_ID >
		<kendo-label *ngIf="(!labelSTATE_IDTop && !isPhonePortrait) && labelSTATE_IDVisible" class="form-label" [for]="STATE_ID" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.STATE_ID','State Id')"></kendo-label>
		<label *ngIf="(labelSTATE_IDTop || isPhonePortrait) && labelSTATE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.STATE_ID','State Id')}}</label>
		<input   formControlName="STATE_ID"
 kendoTextBox #STATE_ID  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.STATE_ID_Hint','Please enter State Id.')"
		(click)="ON_CLICK_STATE_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "     adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSTATE_NAMETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSTATE_NAME >
		<kendo-label *ngIf="(!labelSTATE_NAMETop && !isPhonePortrait) && labelSTATE_NAMEVisible" class="form-label" [for]="STATE_NAME" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.STATE_NAME','State Name')"></kendo-label>
		<label *ngIf="(labelSTATE_NAMETop || isPhonePortrait) && labelSTATE_NAMEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.STATE_NAME','State Name')}}</label>
		<input   formControlName="STATE_NAME"
 kendoTextBox #STATE_NAME  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.STATE_NAME_Hint','Please enter State Name.')"
		(click)="ON_CLICK_STATE_NAME($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "     adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBACK_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBACK_COLOR >
		<kendo-label *ngIf="(!labelBACK_COLORTop && !isPhonePortrait) && labelBACK_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.BACK_COLOR','Back Color')"></kendo-label>
		<label *ngIf="(labelBACK_COLORTop || isPhonePortrait) && labelBACK_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.BACK_COLOR','Back Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="BACK_COLOR"
  #BACK_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_BACK_COLOR($event)"
     adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_BACK_COLOR($event)"
		     adaptiveMode="auto"  width="100" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.BACK_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelVALUETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleVALUE >
		<kendo-label *ngIf="(!labelVALUETop && !isPhonePortrait) && labelVALUEVisible" class="form-label" [for]="VALUE" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.VALUE','Value')"></kendo-label>
		<label *ngIf="(labelVALUETop || isPhonePortrait) && labelVALUEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.VALUE','Value')}}</label>
		<input   formControlName="VALUE"
 kendoTextBox #VALUE  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.VALUE_Hint','Please enter Value.')"
		(click)="ON_CLICK_VALUE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "     adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelPATTERN_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visiblePATTERN_COLOR >
		<kendo-label *ngIf="(!labelPATTERN_COLORTop && !isPhonePortrait) && labelPATTERN_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.PATTERN_COLOR','Pattern Color')"></kendo-label>
		<label *ngIf="(labelPATTERN_COLORTop || isPhonePortrait) && labelPATTERN_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.PATTERN_COLOR','Pattern Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="PATTERN_COLOR"
  #PATTERN_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_PATTERN_COLOR($event)"
     adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_PATTERN_COLOR($event)"
		     adaptiveMode="auto"  width="100" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.PATTERN_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelPATTERN_STYLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visiblePATTERN_STYLE >
		<kendo-label *ngIf="(!labelPATTERN_STYLETop && !isPhonePortrait) && labelPATTERN_STYLEVisible" class="form-label" [for]="PATTERN_STYLE" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.PATTERN_STYLE','Pattern Style')"></kendo-label>
		<label *ngIf="(labelPATTERN_STYLETop || isPhonePortrait) && labelPATTERN_STYLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.PATTERN_STYLE','Pattern Style')}}</label>
		<kendo-combobox  #PATTERN_STYLE class="form-field-combobox"  [formControlName]="'PATTERN_STYLE'"
		[data]="lkpArrPATTERN_STYLE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.PATTERN_STYLE_Hint','Please enter Pattern Style.')"		(click)="ON_CLICK_PATTERN_STYLE($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'PATTERN_STYLE')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBORDER_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBORDER_COLOR >
		<kendo-label *ngIf="(!labelBORDER_COLORTop && !isPhonePortrait) && labelBORDER_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.BORDER_COLOR','Border Color')"></kendo-label>
		<label *ngIf="(labelBORDER_COLORTop || isPhonePortrait) && labelBORDER_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.BORDER_COLOR','Border Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="BORDER_COLOR"
  #BORDER_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_BORDER_COLOR($event)"
     adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_BORDER_COLOR($event)"
		     adaptiveMode="auto"  width="100" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.BORDER_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBLINKTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBLINK >
		<kendo-label *ngIf="(!labelBLINKTop && !isPhonePortrait) && labelBLINKVisible" class="form-label" [for]="BLINK" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.BLINK','Blink')"></kendo-label>
		<label *ngIf="(labelBLINKTop || isPhonePortrait) && labelBLINKVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.BLINK','Blink')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="BLINK"
  #BLINK kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.BLINK_Hint','Please enter Blink.')"		(click)="ON_CLICK_BLINK($event)"
     adaptiveMode="auto" 
 />
	</kendo-formfield>


</div>
		</div>
		<legend *ngIf="FormStepsArr[2].visible" class="divTitle">{{FormStepsArr[2].CODETEXT_LANG}}</legend>
		<div *ngIf="FormStepsArr[2].visible"  class="form-div">
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield  [orientation]="'horizontal'" [ngClass]="(labelCAPTIONTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleCAPTION >
		<kendo-label *ngIf="(!labelCAPTIONTop && !isPhonePortrait) && labelCAPTIONVisible" class="form-label" [for]="CAPTION" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION','Caption')"></kendo-label>
		<label *ngIf="(labelCAPTIONTop || isPhonePortrait) && labelCAPTIONVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION','Caption')}}</label>
		<kendo-textarea   style="width: auto;" resizable="both"  [rows]="3" [cols]="100"  kendoTextBox  formControlName="CAPTION"
 #CAPTION
  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_Hint','Please enter Caption.')"		(click)="ON_CLICK_CAPTION($event)"
     adaptiveMode="auto" ></kendo-textarea>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelINSERT_VARIABLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleINSERT_VARIABLE >
		<kendo-label *ngIf="(!labelINSERT_VARIABLETop && !isPhonePortrait) && labelINSERT_VARIABLEVisible" class="form-label" [for]="INSERT_VARIABLE" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.INSERT_VARIABLE','Insert Variable')"></kendo-label>
		<label *ngIf="(labelINSERT_VARIABLETop || isPhonePortrait) && labelINSERT_VARIABLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.INSERT_VARIABLE','Insert Variable')}}</label>
		<kendo-combobox  #INSERT_VARIABLE class="form-field-combobox"  [formControlName]="'INSERT_VARIABLE'"
		[data]="lkpArrINSERT_VARIABLE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.INSERT_VARIABLE_Hint','Please enter Insert Variable.')"		(click)="ON_CLICK_INSERT_VARIABLE($event)"
 style="width : 200px ;"    adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'INSERT_VARIABLE')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFONT_NAMETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFONT_NAME >
		<kendo-label *ngIf="(!labelFONT_NAMETop && !isPhonePortrait) && labelFONT_NAMEVisible" class="form-label" [for]="FONT_NAME" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_NAME','Font Name')"></kendo-label>
		<label *ngIf="(labelFONT_NAMETop || isPhonePortrait) && labelFONT_NAMEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_NAME','Font Name')}}</label>
		<kendo-combobox  #FONT_NAME class="form-field-combobox"  [formControlName]="'FONT_NAME'"
		[data]="lkpArrFONT_NAME" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_NAME_Hint','Please enter Font Name.')"		(click)="ON_CLICK_FONT_NAME($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'FONT_NAME')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFONT_SIZETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFONT_SIZE >
		<kendo-label *ngIf="(!labelFONT_SIZETop && !isPhonePortrait) && labelFONT_SIZEVisible" class="form-label" [for]="FONT_SIZE" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_SIZE','Font Size')"></kendo-label>
		<label *ngIf="(labelFONT_SIZETop || isPhonePortrait) && labelFONT_SIZEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_SIZE','Font Size')}}</label>
		<kendo-combobox  #FONT_SIZE class="form-field-combobox"  [formControlName]="'FONT_SIZE'"
		[data]="lkpArrFONT_SIZE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_SIZE_Hint','Please enter Font Size.')"		(click)="ON_CLICK_FONT_SIZE($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'FONT_SIZE')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>

		<button  style="font-weight : bold ;margin : 4px ;height : 30px ;"    adaptiveMode="auto" 		 class="k-button k-primary" kendoButton  
		 title="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_BOLD_Hint','Please enter Font Bold.')" 
 iconClass="fas fa-"  *ngIf=visibleFONT_BOLD 		(click)="ON_CLICK_FONT_BOLD($event)"
 >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_BOLD','B')}}</button>

		<button  style="font-style : italic ;margin : 4px ;height : 30px ;"    adaptiveMode="auto" 		 class="k-button k-primary" kendoButton  
		 title="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_ITALIC_Hint','Please enter Font Italic.')" 
 iconClass="fas fa-"  *ngIf=visibleFONT_ITALIC 		(click)="ON_CLICK_FONT_ITALIC($event)"
 >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_ITALIC','I')}}</button>

		<button  style="margin : 4px ;text-decoration: underline;height : 30px ;"    adaptiveMode="auto" 		 class="k-button k-primary" kendoButton  
		 title="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_UNDERLINE_Hint','Please enter Font Underline.')" 
 iconClass="fas fa-"  *ngIf=visibleFONT_UNDERLINE 		(click)="ON_CLICK_FONT_UNDERLINE($event)"
 >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.FONT_UNDERLINE','U')}}</button>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelCAPTION_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleCAPTION_COLOR >
		<kendo-label *ngIf="(!labelCAPTION_COLORTop && !isPhonePortrait) && labelCAPTION_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_COLOR','Caption Color')"></kendo-label>
		<label *ngIf="(labelCAPTION_COLORTop || isPhonePortrait) && labelCAPTION_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_COLOR','Caption Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="CAPTION_COLOR"
  #CAPTION_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_CAPTION_COLOR($event)"
     adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_CAPTION_COLOR($event)"
		     adaptiveMode="auto"  width="100" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.CAPTION_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelCAPTION_BLINKTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleCAPTION_BLINK >
		<kendo-label *ngIf="(!labelCAPTION_BLINKTop && !isPhonePortrait) && labelCAPTION_BLINKVisible" class="form-label" [for]="CAPTION_BLINK" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BLINK','Caption Blink')"></kendo-label>
		<label *ngIf="(labelCAPTION_BLINKTop || isPhonePortrait) && labelCAPTION_BLINKVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BLINK','Caption Blink')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="CAPTION_BLINK"
  #CAPTION_BLINK kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BLINK_Hint','Please enter Caption Blink.')"		(click)="ON_CLICK_CAPTION_BLINK($event)"
     adaptiveMode="auto" 
 />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelCAPTION_BACK_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleCAPTION_BACK_COLOR >
		<kendo-label *ngIf="(!labelCAPTION_BACK_COLORTop && !isPhonePortrait) && labelCAPTION_BACK_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BACK_COLOR','Caption Back Color')"></kendo-label>
		<label *ngIf="(labelCAPTION_BACK_COLORTop || isPhonePortrait) && labelCAPTION_BACK_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BACK_COLOR','Caption Back Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="CAPTION_BACK_COLOR"
  #CAPTION_BACK_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_CAPTION_BACK_COLOR($event)"
     adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_CAPTION_BACK_COLOR($event)"
		     adaptiveMode="auto"  width="100" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.CAPTION_BACK_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelCAPTION_WORD_WRAPTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleCAPTION_WORD_WRAP >
		<kendo-label *ngIf="(!labelCAPTION_WORD_WRAPTop && !isPhonePortrait) && labelCAPTION_WORD_WRAPVisible" class="form-label" [for]="CAPTION_WORD_WRAP" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_WORD_WRAP','Caption Word Wrap')"></kendo-label>
		<label *ngIf="(labelCAPTION_WORD_WRAPTop || isPhonePortrait) && labelCAPTION_WORD_WRAPVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_WORD_WRAP','Caption Word Wrap')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="CAPTION_WORD_WRAP"
  #CAPTION_WORD_WRAP kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_WORD_WRAP_Hint','Please enter Caption Word Wrap.')"		(click)="ON_CLICK_CAPTION_WORD_WRAP($event)"
     adaptiveMode="auto" 
 />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<div class="form-field"  [ngClass]="(labelCAPTION_ALIGNMENTTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleCAPTION_ALIGNMENT >
		<kendo-label *ngIf="(!labelCAPTION_ALIGNMENTTop && !isPhonePortrait) && labelCAPTION_ALIGNMENTVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_ALIGNMENT','Caption Alignment')"></kendo-label>
		<label *ngIf="(labelCAPTION_ALIGNMENTTop || isPhonePortrait) && labelCAPTION_ALIGNMENTVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_ALIGNMENT','Caption Alignment')}}</label>
		<ul class="k-radio-list-horizontal" 		(click)="ON_CLICK_CAPTION_ALIGNMENT($event)"
     adaptiveMode="auto" 
>
			<li class="k-radio-item" *ngFor="let item of lkpArrCAPTION_ALIGNMENT">
				<kendo-radiobutton value={{item.CODE}} 
 [formControlName]="'CAPTION_ALIGNMENT'"
					#CAPTION_ALIGNMENT ></kendo-radiobutton> 
				<kendo-label class="k-radio-label" [for]="CAPTION_ALIGNMENT " 
					text={{item.CODETEXT_LANG}}></kendo-label>
			</li>
		</ul>
	</div>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelCAPTION_BACK_STYLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleCAPTION_BACK_STYLE >
		<kendo-label *ngIf="(!labelCAPTION_BACK_STYLETop && !isPhonePortrait) && labelCAPTION_BACK_STYLEVisible" class="form-label" [for]="CAPTION_BACK_STYLE" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BACK_STYLE','Caption Back Style')"></kendo-label>
		<label *ngIf="(labelCAPTION_BACK_STYLETop || isPhonePortrait) && labelCAPTION_BACK_STYLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BACK_STYLE','Caption Back Style')}}</label>
		<kendo-combobox  #CAPTION_BACK_STYLE class="form-field-combobox"  [formControlName]="'CAPTION_BACK_STYLE'"
		[data]="lkpArrCAPTION_BACK_STYLE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.CAPTION_BACK_STYLE_Hint','Please enter Caption Back Style.')"		(click)="ON_CLICK_CAPTION_BACK_STYLE($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'CAPTION_BACK_STYLE')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
		</div>
		<legend *ngIf="FormStepsArr[3].visible" class="divTitle">{{FormStepsArr[3].CODETEXT_LANG}}</legend>
		<div *ngIf="FormStepsArr[3].visible"  class="form-div">
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelIMAGE_NAMETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleIMAGE_NAME >
		<kendo-label *ngIf="(!labelIMAGE_NAMETop && !isPhonePortrait) && labelIMAGE_NAMEVisible" class="form-label" [for]="IMAGE_NAME" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_NAME','Image Name')"></kendo-label>
		<label *ngIf="(labelIMAGE_NAMETop || isPhonePortrait) && labelIMAGE_NAMEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_NAME','Image Name')}}</label>
		<input   formControlName="IMAGE_NAME"
 kendoTextBox #IMAGE_NAME  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_NAME_Hint','Please enter Image Name.')"
		(click)="ON_CLICK_IMAGE_NAME($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' "     adaptiveMode="auto"  />
	</kendo-formfield>

		<button      adaptiveMode="auto" 		 class="k-button k-primary" kendoButton  
		 title="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_SELECT_STATE_Hint','Please enter Image Select State.')" 
 iconClass="fas fa-image"  *ngIf=visibleIMAGE_SELECT_STATE 		(click)="ON_CLICK_IMAGE_SELECT_STATE($event)"
 >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_SELECT_STATE','Select Imalge')}}</button>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelIMAGE_TYPETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleIMAGE_TYPE >
		<kendo-label *ngIf="(!labelIMAGE_TYPETop && !isPhonePortrait) && labelIMAGE_TYPEVisible" class="form-label" [for]="IMAGE_TYPE" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_TYPE','Image Type')"></kendo-label>
		<label *ngIf="(labelIMAGE_TYPETop || isPhonePortrait) && labelIMAGE_TYPEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_TYPE','Image Type')}}</label>
		<kendo-combobox  #IMAGE_TYPE class="form-field-combobox"  [formControlName]="'IMAGE_TYPE'"
		[data]="lkpArrIMAGE_TYPE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_TYPE_Hint','Please enter Image Type.')"		(click)="ON_CLICK_IMAGE_TYPE($event)"
     adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'IMAGE_TYPE')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelIMAGE_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleIMAGE_COLOR >
		<kendo-label *ngIf="(!labelIMAGE_COLORTop && !isPhonePortrait) && labelIMAGE_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_COLOR','Image Color')"></kendo-label>
		<label *ngIf="(labelIMAGE_COLORTop || isPhonePortrait) && labelIMAGE_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_COLOR','Image Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="IMAGE_COLOR"
  #IMAGE_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_IMAGE_COLOR($event)"
     adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_IMAGE_COLOR($event)"
		     adaptiveMode="auto"  width="100" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.IMAGE_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelIMAGE_BLINKTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleIMAGE_BLINK >
		<kendo-label *ngIf="(!labelIMAGE_BLINKTop && !isPhonePortrait) && labelIMAGE_BLINKVisible" class="form-label" [for]="IMAGE_BLINK" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_BLINK','Image Blink')"></kendo-label>
		<label *ngIf="(labelIMAGE_BLINKTop || isPhonePortrait) && labelIMAGE_BLINKVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_BLINK','Image Blink')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="IMAGE_BLINK"
  #IMAGE_BLINK kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_BLINK_Hint','Please enter Image Blink.')"		(click)="ON_CLICK_IMAGE_BLINK($event)"
     adaptiveMode="auto" 
 />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelIMAGE_BACK_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleIMAGE_BACK_COLOR >
		<kendo-label *ngIf="(!labelIMAGE_BACK_COLORTop && !isPhonePortrait) && labelIMAGE_BACK_COLORVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_BACK_COLOR','Image Back Color')"></kendo-label>
		<label *ngIf="(labelIMAGE_BACK_COLORTop || isPhonePortrait) && labelIMAGE_BACK_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_BACK_COLOR','Image Back Color')}}</label>
		<kendo-colorpicker  [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' "  formControlName="IMAGE_BACK_COLOR"
  #IMAGE_BACK_COLOR 
		 *ngIf="!customerFacing" 
 		(click)="ON_CLICK_IMAGE_BACK_COLOR($event)"
     adaptiveMode="auto" 
		 ></kendo-colorpicker>
	 <p class="card-format" *ngIf="customerFacing" 		(click)="ON_CLICK_IMAGE_BACK_COLOR($event)"
		     adaptiveMode="auto"  width="100" [ngClass]="customerFacing ?  'summaryClass' : 'form-field-date' " > 		{{starServices.formatthisDate(form.value.IMAGE_BACK_COLOR, paramConfig.DateTimeFormat,paramConfig.dateLocale)}} 	</p>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSCALE_IMAGETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSCALE_IMAGE >
		<kendo-label *ngIf="(!labelSCALE_IMAGETop && !isPhonePortrait) && labelSCALE_IMAGEVisible" class="form-label" [for]="SCALE_IMAGE" [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SCALE_IMAGE','Scale Image')"></kendo-label>
		<label *ngIf="(labelSCALE_IMAGETop || isPhonePortrait) && labelSCALE_IMAGEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SCALE_IMAGE','Scale Image')}}</label>
		<input [ngClass]="customerFacing ?  'summaryClass' : 'form-input' "  formControlName="SCALE_IMAGE"
  #SCALE_IMAGE kendoCheckBox type="checkbox"   [placeholder]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.SCALE_IMAGE_Hint','Please enter Scale Image.')"		(click)="ON_CLICK_SCALE_IMAGE($event)"
     adaptiveMode="auto" 
 />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<div class="form-field"  [ngClass]="(labelIMAGE_ALIGNMENTTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleIMAGE_ALIGNMENT >
		<kendo-label *ngIf="(!labelIMAGE_ALIGNMENTTop && !isPhonePortrait) && labelIMAGE_ALIGNMENTVisible" class="form-label"  [text]="starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_ALIGNMENT','Image Alignment')"></kendo-label>
		<label *ngIf="(labelIMAGE_ALIGNMENTTop || isPhonePortrait) && labelIMAGE_ALIGNMENTVisible" class="form-label"  >{{starServices.getNLS([],'SCD_SSD_SHAPE_STATE_DEFINITION.scdshapeStateScdSsdShapeStateDefinition.IMAGE_ALIGNMENT','Image Alignment')}}</label>
		<ul class="k-radio-list-horizontal" 		(click)="ON_CLICK_IMAGE_ALIGNMENT($event)"
     adaptiveMode="auto" 
>
			<li class="k-radio-item" *ngFor="let item of lkpArrIMAGE_ALIGNMENT">
				<kendo-radiobutton value={{item.CODE}} 
 [formControlName]="'IMAGE_ALIGNMENT'"
					#IMAGE_ALIGNMENT ></kendo-radiobutton> 
				<kendo-label class="k-radio-label" [for]="IMAGE_ALIGNMENT " 
					text={{item.CODETEXT_LANG}}></kendo-label>
			</li>
		</ul>
	</div>
</div>


    
      </div>
    </fieldset>
    </form>
    </div>
 








</kendo-pdf-export>
</div>

   <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>