<div>
    <legend *ngIf="componentConfig.showToolBar"  class="k-form-legend">{{
      componentConfig.title ? componentConfig.title :
       this.starServices.getNLS([],"SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.component_title","Graph General") }}</legend>
<div class="form-toolbar"> </div>

<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">

 
    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery( form);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form.value);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="onCancel($event)" *ngIf="componentConfig.queryable"></kendo-toolbar-button >

    <kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (componentConfig.queryable || componentConfig.navigable)">
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button >
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>

    <kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="componentConfig.insertable && !isSearch"></kendo-toolbar-button>

    <kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form)" *ngIf="(starServices.dataExits(this)|| isNew) && !isChild && componentConfig.updateable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf=" starServices.dataExits(this) && componentConfig.removeable && !isSearch">Remove</kendo-toolbar-button>

    <kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>     
</kendo-toolbar>


<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
 <div class="form-borders" > 
    <form class="form-layout" [ngClass]="isPhonePortrait ? 'k-form k-form-horizontal-star' : 'k-form k-form-horizontal' "
     [formGroup]="form" (click)="ON_CLICK(form.value)">
    <!--fieldset class="form-fieldset"  class="k-form-fieldset" [disabled]="!componentConfig.enabled && !isSearch"-->
    <fieldset class="form-fieldset"  class="k-form-fieldset" >


<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelGRAPH_GENERAL_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleGRAPH_GENERAL_ID >
		<kendo-label *ngIf="(!labelGRAPH_GENERAL_IDTop && !isPhonePortrait) && labelGRAPH_GENERAL_IDVisible" class="form-label" [for]="GRAPH_GENERAL_ID" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.GRAPH_GENERAL_ID','Graph General Id') + ' *'"></kendo-label>
		<label *ngIf="(labelGRAPH_GENERAL_IDTop || isPhonePortrait) && labelGRAPH_GENERAL_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.GRAPH_GENERAL_ID','Graph General Id') + ' *'}}</label>
		<input   formControlName="GRAPH_GENERAL_ID"
 kendoTextBox #GRAPH_GENERAL_ID 
		[readonly]="primarKeyReadOnlyArr.isGRAPH_GENERAL_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.GRAPH_GENERAL_ID_Hint','Please enter Graph General Id.')"
		(click)="ON_CLICK_GRAPH_GENERAL_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_GRAPH_GENERAL_ID($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSHAPE_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSHAPE_ID >
		<kendo-label *ngIf="(!labelSHAPE_IDTop && !isPhonePortrait) && labelSHAPE_IDVisible" class="form-label" [for]="SHAPE_ID" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.SHAPE_ID','Shape Id') + ' *'"></kendo-label>
		<label *ngIf="(labelSHAPE_IDTop || isPhonePortrait) && labelSHAPE_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.SHAPE_ID','Shape Id') + ' *'}}</label>
		<kendo-combobox  #SHAPE_ID class="form-field-combobox"  [formControlName]="'SHAPE_ID'"
		[data]="lkpArrSHAPE_ID" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"

		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.SHAPE_ID.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isSHAPE_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.SHAPE_ID_Hint','Please enter Shape Id.')"		(click)="ON_CLICK_SHAPE_ID($event)"
 (valueChange)="onValueChange_SHAPE_ID($event)"      adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'SHAPE_ID')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFILL_STYLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFILL_STYLE >
		<kendo-label *ngIf="(!labelFILL_STYLETop && !isPhonePortrait) && labelFILL_STYLEVisible" class="form-label" [for]="FILL_STYLE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_STYLE','Fill style')"></kendo-label>
		<label *ngIf="(labelFILL_STYLETop || isPhonePortrait) && labelFILL_STYLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_STYLE','Fill style')}}</label>
		<kendo-combobox  #FILL_STYLE class="form-field-combobox"  [formControlName]="'FILL_STYLE'"
		[data]="lkpArrFILL_STYLE" [textField]="'CODETEXT_LANG'"  [valueField]="'CODE'"
  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_STYLE_Hint','Please enter Fill style.')"		(click)="ON_CLICK_FILL_STYLE($event)"
 (valueChange)="onValueChange_FILL_STYLE($event)"      adaptiveMode="auto" 
		 (filterChange)="starServices.handleFilterCode(this, $event)" 
		[valuePrimitive]="true"  [kendoDropDownFilter]="{ operator: 'contains' }">
		 <ng-template kendoDropDownListNoDataTemplate>
		 <div> 
		 	<button *ngIf="filterCode" kendoButton (click)="starServices.addNewCode(this, 'FILL_STYLE')"> 
		 		{{starServices.getNLS([],'ADD_NEW_ITEM','Add new item')}} 
		 	</button> 
		 </div> 
		 </ng-template> 
		</kendo-combobox>
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBORDER_STYLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBORDER_STYLE >
		<kendo-label *ngIf="(!labelBORDER_STYLETop && !isPhonePortrait) && labelBORDER_STYLEVisible" class="form-label" [for]="BORDER_STYLE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_STYLE','Border Style')"></kendo-label>
		<label *ngIf="(labelBORDER_STYLETop || isPhonePortrait) && labelBORDER_STYLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_STYLE','Border Style')}}</label>
		<input   formControlName="BORDER_STYLE"
 kendoTextBox #BORDER_STYLE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_STYLE_Hint','Please enter Border Style.')"
		(click)="ON_CLICK_BORDER_STYLE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BORDER_STYLE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBORDER_WIDTHTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBORDER_WIDTH >
		<kendo-label *ngIf="(!labelBORDER_WIDTHTop && !isPhonePortrait) && labelBORDER_WIDTHVisible" class="form-label" [for]="BORDER_WIDTH" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_WIDTH','Border Width')"></kendo-label>
		<label *ngIf="(labelBORDER_WIDTHTop || isPhonePortrait) && labelBORDER_WIDTHVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_WIDTH','Border Width')}}</label>
		<input   formControlName="BORDER_WIDTH"
 kendoTextBox #BORDER_WIDTH  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_WIDTH_Hint','Please enter Border Width.')"
		(click)="ON_CLICK_BORDER_WIDTH($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BORDER_WIDTH($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelLINE_STYLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleLINE_STYLE >
		<kendo-label *ngIf="(!labelLINE_STYLETop && !isPhonePortrait) && labelLINE_STYLEVisible" class="form-label" [for]="LINE_STYLE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.LINE_STYLE','Line Style')"></kendo-label>
		<label *ngIf="(labelLINE_STYLETop || isPhonePortrait) && labelLINE_STYLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.LINE_STYLE','Line Style')}}</label>
		<input   formControlName="LINE_STYLE"
 kendoTextBox #LINE_STYLE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.LINE_STYLE_Hint','Please enter Line Style.')"
		(click)="ON_CLICK_LINE_STYLE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_LINE_STYLE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelLINE_WIDTHTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleLINE_WIDTH >
		<kendo-label *ngIf="(!labelLINE_WIDTHTop && !isPhonePortrait) && labelLINE_WIDTHVisible" class="form-label" [for]="LINE_WIDTH" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.LINE_WIDTH','Line Width')"></kendo-label>
		<label *ngIf="(labelLINE_WIDTHTop || isPhonePortrait) && labelLINE_WIDTHVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.LINE_WIDTH','Line Width')}}</label>
		<input   formControlName="LINE_WIDTH"
 kendoTextBox #LINE_WIDTH  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.LINE_WIDTH_Hint','Please enter Line Width.')"
		(click)="ON_CLICK_LINE_WIDTH($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_LINE_WIDTH($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBACK_STYLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBACK_STYLE >
		<kendo-label *ngIf="(!labelBACK_STYLETop && !isPhonePortrait) && labelBACK_STYLEVisible" class="form-label" [for]="BACK_STYLE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BACK_STYLE','Back Style')"></kendo-label>
		<label *ngIf="(labelBACK_STYLETop || isPhonePortrait) && labelBACK_STYLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BACK_STYLE','Back Style')}}</label>
		<input   formControlName="BACK_STYLE"
 kendoTextBox #BACK_STYLE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BACK_STYLE_Hint','Please enter Back Style.')"
		(click)="ON_CLICK_BACK_STYLE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BACK_STYLE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelSWEEP_STYLETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleSWEEP_STYLE >
		<kendo-label *ngIf="(!labelSWEEP_STYLETop && !isPhonePortrait) && labelSWEEP_STYLEVisible" class="form-label" [for]="SWEEP_STYLE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.SWEEP_STYLE','Sweep Style')"></kendo-label>
		<label *ngIf="(labelSWEEP_STYLETop || isPhonePortrait) && labelSWEEP_STYLEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.SWEEP_STYLE','Sweep Style')}}</label>
		<input   formControlName="SWEEP_STYLE"
 kendoTextBox #SWEEP_STYLE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.SWEEP_STYLE_Hint','Please enter Sweep Style.')"
		(click)="ON_CLICK_SWEEP_STYLE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_SWEEP_STYLE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBORDER_USES_BACK_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBORDER_USES_BACK_COLOR >
		<kendo-label *ngIf="(!labelBORDER_USES_BACK_COLORTop && !isPhonePortrait) && labelBORDER_USES_BACK_COLORVisible" class="form-label" [for]="BORDER_USES_BACK_COLOR" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_USES_BACK_COLOR','Border Uses Back Color')"></kendo-label>
		<label *ngIf="(labelBORDER_USES_BACK_COLORTop || isPhonePortrait) && labelBORDER_USES_BACK_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_USES_BACK_COLOR','Border Uses Back Color')}}</label>
		<input   formControlName="BORDER_USES_BACK_COLOR"
 kendoTextBox #BORDER_USES_BACK_COLOR  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_USES_BACK_COLOR_Hint','Please enter Border Uses Back Color.')"
		(click)="ON_CLICK_BORDER_USES_BACK_COLOR($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BORDER_USES_BACK_COLOR($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBACK_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBACK_COLOR >
		<kendo-label *ngIf="(!labelBACK_COLORTop && !isPhonePortrait) && labelBACK_COLORVisible" class="form-label" [for]="BACK_COLOR" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BACK_COLOR','Back Color')"></kendo-label>
		<label *ngIf="(labelBACK_COLORTop || isPhonePortrait) && labelBACK_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BACK_COLOR','Back Color')}}</label>
		<input   formControlName="BACK_COLOR"
 kendoTextBox #BACK_COLOR  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BACK_COLOR_Hint','Please enter Back Color.')"
		(click)="ON_CLICK_BACK_COLOR($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BACK_COLOR($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBORDER_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBORDER_COLOR >
		<kendo-label *ngIf="(!labelBORDER_COLORTop && !isPhonePortrait) && labelBORDER_COLORVisible" class="form-label" [for]="BORDER_COLOR" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_COLOR','Border Color')"></kendo-label>
		<label *ngIf="(labelBORDER_COLORTop || isPhonePortrait) && labelBORDER_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_COLOR','Border Color')}}</label>
		<input   formControlName="BORDER_COLOR"
 kendoTextBox #BORDER_COLOR  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BORDER_COLOR_Hint','Please enter Border Color.')"
		(click)="ON_CLICK_BORDER_COLOR($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BORDER_COLOR($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFORE_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFORE_COLOR >
		<kendo-label *ngIf="(!labelFORE_COLORTop && !isPhonePortrait) && labelFORE_COLORVisible" class="form-label" [for]="FORE_COLOR" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FORE_COLOR','Fore Color')"></kendo-label>
		<label *ngIf="(labelFORE_COLORTop || isPhonePortrait) && labelFORE_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FORE_COLOR','Fore Color')}}</label>
		<input   formControlName="FORE_COLOR"
 kendoTextBox #FORE_COLOR  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FORE_COLOR_Hint','Please enter Fore Color.')"
		(click)="ON_CLICK_FORE_COLOR($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FORE_COLOR($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBLINKTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBLINK >
		<kendo-label *ngIf="(!labelBLINKTop && !isPhonePortrait) && labelBLINKVisible" class="form-label" [for]="BLINK" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK','Blink')"></kendo-label>
		<label *ngIf="(labelBLINKTop || isPhonePortrait) && labelBLINKVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK','Blink')}}</label>
		<input   formControlName="BLINK"
 kendoTextBox #BLINK  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK_Hint','Please enter Blink.')"
		(click)="ON_CLICK_BLINK($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BLINK($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFONT_NAMETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFONT_NAME >
		<kendo-label *ngIf="(!labelFONT_NAMETop && !isPhonePortrait) && labelFONT_NAMEVisible" class="form-label" [for]="FONT_NAME" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_NAME','Font Name')"></kendo-label>
		<label *ngIf="(labelFONT_NAMETop || isPhonePortrait) && labelFONT_NAMEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_NAME','Font Name')}}</label>
		<input   formControlName="FONT_NAME"
 kendoTextBox #FONT_NAME  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_NAME_Hint','Please enter Font Name.')"
		(click)="ON_CLICK_FONT_NAME($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FONT_NAME($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFONT_SIZETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFONT_SIZE >
		<kendo-label *ngIf="(!labelFONT_SIZETop && !isPhonePortrait) && labelFONT_SIZEVisible" class="form-label" [for]="FONT_SIZE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_SIZE','Font Size')"></kendo-label>
		<label *ngIf="(labelFONT_SIZETop || isPhonePortrait) && labelFONT_SIZEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_SIZE','Font Size')}}</label>
		<input   formControlName="FONT_SIZE"
 kendoTextBox #FONT_SIZE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_SIZE_Hint','Please enter Font Size.')"
		(click)="ON_CLICK_FONT_SIZE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FONT_SIZE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFONT_BOLDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFONT_BOLD >
		<kendo-label *ngIf="(!labelFONT_BOLDTop && !isPhonePortrait) && labelFONT_BOLDVisible" class="form-label" [for]="FONT_BOLD" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_BOLD','Font Bold')"></kendo-label>
		<label *ngIf="(labelFONT_BOLDTop || isPhonePortrait) && labelFONT_BOLDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_BOLD','Font Bold')}}</label>
		<input   formControlName="FONT_BOLD"
 kendoTextBox #FONT_BOLD  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_BOLD_Hint','Please enter Font Bold.')"
		(click)="ON_CLICK_FONT_BOLD($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FONT_BOLD($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFONT_ITALICTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFONT_ITALIC >
		<kendo-label *ngIf="(!labelFONT_ITALICTop && !isPhonePortrait) && labelFONT_ITALICVisible" class="form-label" [for]="FONT_ITALIC" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_ITALIC','Font Italic')"></kendo-label>
		<label *ngIf="(labelFONT_ITALICTop || isPhonePortrait) && labelFONT_ITALICVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_ITALIC','Font Italic')}}</label>
		<input   formControlName="FONT_ITALIC"
 kendoTextBox #FONT_ITALIC  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_ITALIC_Hint','Please enter Font Italic.')"
		(click)="ON_CLICK_FONT_ITALIC($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FONT_ITALIC($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFONT_UNDERLINETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFONT_UNDERLINE >
		<kendo-label *ngIf="(!labelFONT_UNDERLINETop && !isPhonePortrait) && labelFONT_UNDERLINEVisible" class="form-label" [for]="FONT_UNDERLINE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_UNDERLINE','Font Underline')"></kendo-label>
		<label *ngIf="(labelFONT_UNDERLINETop || isPhonePortrait) && labelFONT_UNDERLINEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_UNDERLINE','Font Underline')}}</label>
		<input   formControlName="FONT_UNDERLINE"
 kendoTextBox #FONT_UNDERLINE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FONT_UNDERLINE_Hint','Please enter Font Underline.')"
		(click)="ON_CLICK_FONT_UNDERLINE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FONT_UNDERLINE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelMINIMUMTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleMINIMUM >
		<kendo-label *ngIf="(!labelMINIMUMTop && !isPhonePortrait) && labelMINIMUMVisible" class="form-label" [for]="MINIMUM" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MINIMUM','Minimum')"></kendo-label>
		<label *ngIf="(labelMINIMUMTop || isPhonePortrait) && labelMINIMUMVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MINIMUM','Minimum')}}</label>
		<input   formControlName="MINIMUM"
 kendoTextBox #MINIMUM  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MINIMUM_Hint','Please enter Minimum.')"
		(click)="ON_CLICK_MINIMUM($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_MINIMUM($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelMAXIMUM_VALUETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleMAXIMUM_VALUE >
		<kendo-label *ngIf="(!labelMAXIMUM_VALUETop && !isPhonePortrait) && labelMAXIMUM_VALUEVisible" class="form-label" [for]="MAXIMUM_VALUE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MAXIMUM_VALUE','Maximum Value')"></kendo-label>
		<label *ngIf="(labelMAXIMUM_VALUETop || isPhonePortrait) && labelMAXIMUM_VALUEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MAXIMUM_VALUE','Maximum Value')}}</label>
		<input   formControlName="MAXIMUM_VALUE"
 kendoTextBox #MAXIMUM_VALUE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MAXIMUM_VALUE_Hint','Please enter Maximum Value.')"
		(click)="ON_CLICK_MAXIMUM_VALUE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_MAXIMUM_VALUE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFILL_DIRECTIONTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFILL_DIRECTION >
		<kendo-label *ngIf="(!labelFILL_DIRECTIONTop && !isPhonePortrait) && labelFILL_DIRECTIONVisible" class="form-label" [for]="FILL_DIRECTION" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_DIRECTION','Fill Direction')"></kendo-label>
		<label *ngIf="(labelFILL_DIRECTIONTop || isPhonePortrait) && labelFILL_DIRECTIONVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_DIRECTION','Fill Direction')}}</label>
		<input   formControlName="FILL_DIRECTION"
 kendoTextBox #FILL_DIRECTION  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_DIRECTION_Hint','Please enter Fill Direction.')"
		(click)="ON_CLICK_FILL_DIRECTION($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FILL_DIRECTION($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelTICK_DIRECTIONTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleTICK_DIRECTION >
		<kendo-label *ngIf="(!labelTICK_DIRECTIONTop && !isPhonePortrait) && labelTICK_DIRECTIONVisible" class="form-label" [for]="TICK_DIRECTION" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.TICK_DIRECTION','Tick Direction')"></kendo-label>
		<label *ngIf="(labelTICK_DIRECTIONTop || isPhonePortrait) && labelTICK_DIRECTIONVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.TICK_DIRECTION','Tick Direction')}}</label>
		<input   formControlName="TICK_DIRECTION"
 kendoTextBox #TICK_DIRECTION  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.TICK_DIRECTION_Hint','Please enter Tick Direction.')"
		(click)="ON_CLICK_TICK_DIRECTION($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_TICK_DIRECTION($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelMAJOR_TICKSTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleMAJOR_TICKS >
		<kendo-label *ngIf="(!labelMAJOR_TICKSTop && !isPhonePortrait) && labelMAJOR_TICKSVisible" class="form-label" [for]="MAJOR_TICKS" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MAJOR_TICKS','Major Ticks')"></kendo-label>
		<label *ngIf="(labelMAJOR_TICKSTop || isPhonePortrait) && labelMAJOR_TICKSVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MAJOR_TICKS','Major Ticks')}}</label>
		<input   formControlName="MAJOR_TICKS"
 kendoTextBox #MAJOR_TICKS  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MAJOR_TICKS_Hint','Please enter Major Ticks.')"
		(click)="ON_CLICK_MAJOR_TICKS($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_MAJOR_TICKS($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelMINOR_TICKSTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleMINOR_TICKS >
		<kendo-label *ngIf="(!labelMINOR_TICKSTop && !isPhonePortrait) && labelMINOR_TICKSVisible" class="form-label" [for]="MINOR_TICKS" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MINOR_TICKS','Minor Ticks')"></kendo-label>
		<label *ngIf="(labelMINOR_TICKSTop || isPhonePortrait) && labelMINOR_TICKSVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MINOR_TICKS','Minor Ticks')}}</label>
		<input   formControlName="MINOR_TICKS"
 kendoTextBox #MINOR_TICKS  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.MINOR_TICKS_Hint','Please enter Minor Ticks.')"
		(click)="ON_CLICK_MINOR_TICKS($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_MINOR_TICKS($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelNUMBER_OF_THRESHOLDSTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleNUMBER_OF_THRESHOLDS >
		<kendo-label *ngIf="(!labelNUMBER_OF_THRESHOLDSTop && !isPhonePortrait) && labelNUMBER_OF_THRESHOLDSVisible" class="form-label" [for]="NUMBER_OF_THRESHOLDS" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.NUMBER_OF_THRESHOLDS','Number Of Thresholds')"></kendo-label>
		<label *ngIf="(labelNUMBER_OF_THRESHOLDSTop || isPhonePortrait) && labelNUMBER_OF_THRESHOLDSVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.NUMBER_OF_THRESHOLDS','Number Of Thresholds')}}</label>
		<input   formControlName="NUMBER_OF_THRESHOLDS"
 kendoTextBox #NUMBER_OF_THRESHOLDS  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.NUMBER_OF_THRESHOLDS_Hint','Please enter Number Of Thresholds.')"
		(click)="ON_CLICK_NUMBER_OF_THRESHOLDS($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_NUMBER_OF_THRESHOLDS($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelTHRESHOLD_TYPETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleTHRESHOLD_TYPE >
		<kendo-label *ngIf="(!labelTHRESHOLD_TYPETop && !isPhonePortrait) && labelTHRESHOLD_TYPEVisible" class="form-label" [for]="THRESHOLD_TYPE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_TYPE','Threshold Type')"></kendo-label>
		<label *ngIf="(labelTHRESHOLD_TYPETop || isPhonePortrait) && labelTHRESHOLD_TYPEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_TYPE','Threshold Type')}}</label>
		<input   formControlName="THRESHOLD_TYPE"
 kendoTextBox #THRESHOLD_TYPE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_TYPE_Hint','Please enter Threshold Type.')"
		(click)="ON_CLICK_THRESHOLD_TYPE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_THRESHOLD_TYPE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelTHRESHOLD_1_VALUETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleTHRESHOLD_1_VALUE >
		<kendo-label *ngIf="(!labelTHRESHOLD_1_VALUETop && !isPhonePortrait) && labelTHRESHOLD_1_VALUEVisible" class="form-label" [for]="THRESHOLD_1_VALUE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_1_VALUE','Threshold 1 Value')"></kendo-label>
		<label *ngIf="(labelTHRESHOLD_1_VALUETop || isPhonePortrait) && labelTHRESHOLD_1_VALUEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_1_VALUE','Threshold 1 Value')}}</label>
		<input   formControlName="THRESHOLD_1_VALUE"
 kendoTextBox #THRESHOLD_1_VALUE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_1_VALUE_Hint','Please enter Threshold 1 Value.')"
		(click)="ON_CLICK_THRESHOLD_1_VALUE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_THRESHOLD_1_VALUE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFILL_COLORTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFILL_COLOR >
		<kendo-label *ngIf="(!labelFILL_COLORTop && !isPhonePortrait) && labelFILL_COLORVisible" class="form-label" [for]="FILL_COLOR" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_COLOR','Fill Color')"></kendo-label>
		<label *ngIf="(labelFILL_COLORTop || isPhonePortrait) && labelFILL_COLORVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_COLOR','Fill Color')}}</label>
		<input   formControlName="FILL_COLOR"
 kendoTextBox #FILL_COLOR  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_COLOR_Hint','Please enter Fill Color.')"
		(click)="ON_CLICK_FILL_COLOR($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FILL_COLOR($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBLINK_1Top || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBLINK_1 >
		<kendo-label *ngIf="(!labelBLINK_1Top && !isPhonePortrait) && labelBLINK_1Visible" class="form-label" [for]="BLINK_1" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK_1','Blink 1')"></kendo-label>
		<label *ngIf="(labelBLINK_1Top || isPhonePortrait) && labelBLINK_1Visible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK_1','Blink 1')}}</label>
		<input   formControlName="BLINK_1"
 kendoTextBox #BLINK_1  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK_1_Hint','Please enter Blink 1.')"
		(click)="ON_CLICK_BLINK_1($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BLINK_1($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelTHRESHOLD_2_VALUETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleTHRESHOLD_2_VALUE >
		<kendo-label *ngIf="(!labelTHRESHOLD_2_VALUETop && !isPhonePortrait) && labelTHRESHOLD_2_VALUEVisible" class="form-label" [for]="THRESHOLD_2_VALUE" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_2_VALUE','Threshold 2 Value')"></kendo-label>
		<label *ngIf="(labelTHRESHOLD_2_VALUETop || isPhonePortrait) && labelTHRESHOLD_2_VALUEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_2_VALUE','Threshold 2 Value')}}</label>
		<input   formControlName="THRESHOLD_2_VALUE"
 kendoTextBox #THRESHOLD_2_VALUE  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.THRESHOLD_2_VALUE_Hint','Please enter Threshold 2 Value.')"
		(click)="ON_CLICK_THRESHOLD_2_VALUE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_THRESHOLD_2_VALUE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelFILL_COLOR_2Top || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleFILL_COLOR_2 >
		<kendo-label *ngIf="(!labelFILL_COLOR_2Top && !isPhonePortrait) && labelFILL_COLOR_2Visible" class="form-label" [for]="FILL_COLOR_2" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_COLOR_2','Fill Color 2')"></kendo-label>
		<label *ngIf="(labelFILL_COLOR_2Top || isPhonePortrait) && labelFILL_COLOR_2Visible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_COLOR_2','Fill Color 2')}}</label>
		<input   formControlName="FILL_COLOR_2"
 kendoTextBox #FILL_COLOR_2  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.FILL_COLOR_2_Hint','Please enter Fill Color 2.')"
		(click)="ON_CLICK_FILL_COLOR_2($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_FILL_COLOR_2($event)"      adaptiveMode="auto"  />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelBLINK_2Top || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleBLINK_2 >
		<kendo-label *ngIf="(!labelBLINK_2Top && !isPhonePortrait) && labelBLINK_2Visible" class="form-label" [for]="BLINK_2" [text]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK_2','Blink 2')"></kendo-label>
		<label *ngIf="(labelBLINK_2Top || isPhonePortrait) && labelBLINK_2Visible" class="form-label"  >{{starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK_2','Blink 2')}}</label>
		<input   formControlName="BLINK_2"
 kendoTextBox #BLINK_2  [placeholder]="starServices.getNLS([],'SCD_BGP_GRAPH_GENERAL_1.scdgraphGeneralScdBgpGraphGeneral1.BLINK_2_Hint','Please enter Blink 2.')"
		(click)="ON_CLICK_BLINK_2($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_BLINK_2($event)"      adaptiveMode="auto"  />
	</kendo-formfield>
</div>

    </fieldset>
    </form>
    </div>
    <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>

      <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

</kendo-pdf-export>
</div>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>
  




