<div>
        <legend *ngIf="!visibleOK_BTNS" class="k-form-legend" class="screen-legend">{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.component_title","") }}</legend> 
        <kendo-tabstrip  [keepTabContent]="true" [tabAlignment]="alignment">

<kendo-tabstrip-tab [selected]="true">
    <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID1","Common") }}</legend>
     </ng-template>
    <ng-template kendoTabContent>
        <app-scd-tp-common-screen 
                      (readCompletedOutput)="readCompletedHandler($event)"
                      (clearCompletedOutput)="clearCompletedHandler($event)"
                      (saveCompletedOutput)="saveCompletedHandler($event)"
                      (formValidationChangedOutput)="formValidationChangedMD($event, 1)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_SHAPEForm_0Config">
        </app-scd-tp-common-screen >

    </ng-template>
  </kendo-tabstrip-tab>
       <kendo-tabstrip-tab>
       <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID2","Appearance") }}</legend>
       </ng-template>
       <ng-template kendoTabContent>
        <app-scd-scd-alarm-appearance [detail_Input]="formdivs_1_SCD_ALARM_APPEARANCE"  
                      (formValidationChangedOutput)="formValidationChangedMD($event, 2)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARM_APPEARANCEFormdivs_1Config">
        </app-scd-scd-alarm-appearance >

</ng-template>
</kendo-tabstrip-tab>
       <kendo-tabstrip-tab>
       <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID3","Columns") }}</legend>
       </ng-template>
       <ng-template kendoTabContent>
        <app-scd-acl-alarm-columns [detail_Input]="grid_2_SCD_ALARM_COLUMNS"  
                      (formValidationChangedOutput)="formValidationChangedMD($event, 3)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARM_COLUMNSGrid_2Config">
        </app-scd-acl-alarm-columns >

</ng-template>
</kendo-tabstrip-tab>
       <kendo-tabstrip-tab>
       <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID4","Event Subscriptions") }}</legend>
       </ng-template>
       <ng-template kendoTabContent>
        <app-scd-alarm-event-subscriptions-properties [detail_Input]="formtabs_3_SCD_ALARM"  
                      (formValidationChangedOutput)="formValidationChangedMD($event, 4)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARMFormtabs_3Config">
        </app-scd-alarm-event-subscriptions-properties >

</ng-template>
</kendo-tabstrip-tab>
       <kendo-tabstrip-tab>
       <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID5","Display Filters") }}</legend>
       </ng-template>
       <ng-template kendoTabContent>
        <app-scd-alarm-display-filters-properties [detail_Input]="formtabs_4_SCD_ALARM"  
                      (formValidationChangedOutput)="formValidationChangedMD($event, 5)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARMFormtabs_4Config">
        </app-scd-alarm-display-filters-properties >

</ng-template>
</kendo-tabstrip-tab>
       <kendo-tabstrip-tab>
       <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID6","Sort") }}</legend>
       </ng-template>
       <ng-template kendoTabContent>
        <app-scd-scd-alarm-sort [detail_Input]="form_5_SCD_ALARM_SORT"  
                      (formValidationChangedOutput)="formValidationChangedMD($event, 6)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARM_SORTForm_5Config">
        </app-scd-scd-alarm-sort >

</ng-template>
</kendo-tabstrip-tab>
       <kendo-tabstrip-tab>
       <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID7","States") }}</legend>
       </ng-template>
       <ng-template kendoTabContent>
        <app-scd-scd-alarm-states [detail_Input]="grid_6_SCD_ALARM_STATES"  
                      (formValidationChangedOutput)="formValidationChangedMD($event, 7)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARM_STATESGrid_6Config">
        </app-scd-scd-alarm-states >

</ng-template>
</kendo-tabstrip-tab>
       <kendo-tabstrip-tab>
       <ng-template   kendoTabTitle>
      <legend>{{ this.starServices.getNLS([],"scd_alarm_and_event_summary_properties.scd_alarm_and_event_summary_properties.compsTitleID8","Behavior") }}</legend>
       </ng-template>
       <ng-template kendoTabContent>
        <app-scd-scd-alarm-behavior [detail_Input]="form_7_SCD_ALARM_BEHAVIOR"  
                      (formValidationChangedOutput)="formValidationChangedMD($event, 8)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARM_BEHAVIORForm_7Config">
        </app-scd-scd-alarm-behavior >

</ng-template>
</kendo-tabstrip-tab>
   </kendo-tabstrip> 
    </div>   
<div style="display: flex; justify-content: flex-end; gap: 10px; padding: 12px 0; margin-top: 8px;">
		<button adaptiveMode="auto" class="k-button " kendoButton title="starServices.getNLS([],'OK','Ok')"
			iconClass="fas fa-save" *ngIf=visibleOK_BTNS
			(click)="ON_CLICK_OK($event)">{{starServices.getNLS([],'OK','Ok')}}</button>

		<button adaptiveMode="auto" class="k-button " kendoButton title="starServices.getNLS([],'CANCEL','Cancel')"
			iconClass="fas fa-ban" *ngIf=visibleOK_BTNS
			(click)="ON_CLICK_CANCEL($event)">{{starServices.getNLS([],'CANCEL','Cancel')}}</button>

		<button adaptiveMode="auto" class="k-button " kendoButton title="starServices.getNLS([],'HELP','Help')"
			iconClass="fas fa-question" *ngIf=visibleOK_BTNS
			(click)="ON_CLICK_HELP($event)">{{starServices.getNLS([],'HELP','Help')}}</button>
	</div>
	
	<kendo-window [hidden]="!helpOpened" class="form-borders" [themeColor]="'primary'" [top]="0" [left]="0" title=""
		state="maximized" (close)="helpOpened=false">
		<app-dsp-upload [setComponentConfig_Input]="help_1Config">
		</app-dsp-upload>
		<button kendoButton [icon]="'close'" (click)="helpOpened=!helpOpened">
			{{this.starServices.getNLS([],"CLOSE","Close")}}</button>
	</kendo-window>

	
	