<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
<legend class="k-form-legend" *ngIf="componentConfig.showTitle">{{
      componentConfig.title ? componentConfig.title :
       this.starServices.getNLS([],"SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.component_title","Alarms List") }}</legend>
	
    <kendo-grid [rowClass]="ROW_CLASS" (excelExport)="onExcelExport($event)"
    
    id="grid" [sortable]="true" [height]="componentConfig.gridHeight ? componentConfig.gridHeight : gridHeight"
    [resizable] ="true"
    (cellClick)="cellClickHandler($event)" 
    (add)="addHandler()"
    (remove)="removeHandler($event)"
    [filter]="state.filter"
    [filterable]= "isFilterable"
    [columnMenu]="isColumnMenu"
    (dataStateChange)="dataStateChange($event)"
    [resizable]="true"
    [sortable]="true">

    
    
      
        <ng-template kendoGridToolbarTemplate *ngIf="componentConfig.showToolBar">


        
        

        
            <button  [icon]="'sliders'"  [disabled]="isSearch" kendoButton  title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery(grid);" *ngIf="componentConfig.queryable">{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}</button >
            <button  kendoButton [icon]="'zoom'" title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery(grid);" *ngIf="componentConfig.queryable"></button >
            <button  kendoButton [icon]="'cancel'" title="Cancel" title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="cancelHandler()" ></button >
        

            <button  [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}"  kendoGridAddCommand *ngIf="componentConfig.insertable && !isSearch"></button >
            <button  kendoButton [disabled]="isSearch" [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges(grid);" *ngIf="!isSearch && (componentConfig.updateable || componentConfig.insertable) "></button >
            <button title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}"  kendoButton [icon]="'trash'" (click)="removeHandler($event)"  *ngIf="componentConfig.removeable && !isSearch"></button >

        
        <button  kendoButton [icon]="'menu'" title="{{starServices.getNLS([],'SHOW_HIDE_MENU','Show/Hide Menu')}}"   (click)="toggleColumnMenu()" *ngIf="!isSearch && !isPhonePortrait"></button >
            <div *ngIf="isColumnMenu">
				<button  kendoButton [icon]="'filter'" title="{{starServices.getNLS([],'SHOW_HIDE_FILTER_OPTIONS','Show/Hide Filter options')}}"  (click)="toggleFilter()" ></button >
            <button  [icon]="'file-pdf'" title="{{starServices.getNLS([],'EXPORT_TO_PDF','Export to PDF')}}"  kendoGridPDFCommand ></button >
            <button  [icon]="'file-excel'" title="{{starServices.getNLS([],'EXPORT_TO_EXCEL','Export to Excel')}}"  kendoGridExcelCommand ></button > 
			</div>
            
            <button  kendoButton *ngIf="starServices.helpMsg_grid !=='' "    >{{starServices.helpMsg_grid}}</button>		
            

    
    </ng-template>


	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="ALARM_ID"
 *ngIf=visibleALARM_ID  [editable]=" !(disabledColumns.indexOf('ALARM_ID') > -1)  && !primarKeyReadOnlyArr.isALARM_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('ALARM_ID') > -1" 		 title="{{starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.ALARM_ID','Alarm Id') + ' *'}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.ALARM_ID}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_ALARM_ID()"      [formControl]="formGroup.get('ALARM_ID')" [placeholder]="starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.ALARM_ID_Hint','Please enter Alarm Id.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="APPLICATION_ID" title="{{starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.APPLICATION_ID','Application Id') + ' *'}}" [width]="100"   *ngIf=visibleAPPLICATION_ID  [editable]=" !(disabledColumns.indexOf('APPLICATION_ID') > -1)  && !primarKeyReadOnlyArr.isAPPLICATION_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('APPLICATION_ID') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span     > {{lkpArrGetAPPLICATION_ID(dataItem.APPLICATION_ID)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrAPPLICATION_ID"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeAPPLICATION_ID($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('APPLICATION_ID')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="TYPE"
 *ngIf=visibleTYPE  [editable]=" !(disabledColumns.indexOf('TYPE') > -1)  "

 [hidden]="hiddenColumns.indexOf('TYPE') > -1" 		 title="{{starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.TYPE','Type')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.TYPE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_TYPE()"      [formControl]="formGroup.get('TYPE')" [placeholder]="starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.TYPE_Hint','Please enter Type.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="NAME"
 *ngIf=visibleNAME  [editable]=" !(disabledColumns.indexOf('NAME') > -1)  "

 [hidden]="hiddenColumns.indexOf('NAME') > -1" 		 title="{{starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.NAME','Name')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.NAME}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_NAME()"      [formControl]="formGroup.get('NAME')" [placeholder]="starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.NAME_Hint','Please enter Name.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="INPUT_TAG"
 *ngIf=visibleINPUT_TAG  [editable]=" !(disabledColumns.indexOf('INPUT_TAG') > -1)  "

 [hidden]="hiddenColumns.indexOf('INPUT_TAG') > -1" 		 title="{{starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.INPUT_TAG','Input Tag')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.INPUT_TAG}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_INPUT_TAG()"      [formControl]="formGroup.get('INPUT_TAG')" [placeholder]="starServices.getNLS([],'SCD_AA_ALARMS_LIST.scdalarmScdAaAlarmsList.INPUT_TAG_Hint','Please enter Input Tag.')" />
		</ng-template>
		</kendo-grid-column>




    
                       <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                         <div class="page-template">
                            <div class="header">
                              <div style="float: center">{{ title }}</div>
                            </div>
                            <div class="footer">
                              Page {{ pageNum }} of {{ totalPages }}
                            </div>
                          </div>
                        </ng-template>
                    </kendo-grid-pdf>
                    <kendo-grid-excel fileName="ExcelfileName" ></kendo-grid-excel>
    
    </kendo-grid>
    
  <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

    </kendo-pdf-export>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>

