<div>
    <legend  class="k-form-legend">{{ this.starServices.getNLS([],"dsp_batch_DSP_BATCH_FILE_DEF_FORM.dspbatchFileDefDspBatchDspBatchFileDefForm.component_title","Dsp Batch File Def Dsp Batch Dsp Batch File Def Form") }}</legend>
<div class="form-toolbar"> </div>
<kendo-toolbar class="form-toolbar" *ngIf="showToolBar">
    <kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form)" *ngIf="!isChild && componentConfig.updateable && !isSearch"></kendo-toolbar-button>
     <kendo-toolbar-button  kendoButton [icon]="'print'" title="{{starServices.getNLS([],'PRINT','Print')}}" (click)="printScreen()" *ngIf="componentConfig.toolsShow"></kendo-toolbar-button >



    <kendo-toolbar-button [disabled]="isSearch"  text="{{starServices.getNLS([],'ENTER_QUERY','Enter Query')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Enter Query')}}" (click)="enterQuery( form);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
	<kendo-toolbar-button  [icon]="'zoom'" title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form.value);"  *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="onCancel($event)" *ngIf="componentConfig.queryable"></kendo-toolbar-button >


    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button >
    <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>

<kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="!isSearch"></kendo-toolbar-button>
<kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf="!isSearch">Remove</kendo-toolbar-button>
<kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>		
</kendo-toolbar>

<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
    <form class="form-layout" class="k-form k-form-horizontal" [formGroup]="form" (click)="ON_CLICK(form.value)">
    <fieldset class="form-fieldset"  class="k-form-fieldset" [disabled]="!componentConfig.enabled">


<div [ngClass]="isPhonePortrait ? 'standard' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" >
		<button kendoButton  icon="upload"  (click)="starServices.att_img_form_openUploadimage('DOC_NAME',this)"  
			style ="margin: 5px 5px 5px 5px;">Upload CSV/Excel</button>
		<input style="display:none" class="form-field-double" formControlName="DOC_NAME" 
		(valueChange)="onChange_DOC_NAME($event)"  
#DOC_NAME /> 
		<a [text]="starServices.att_img_getAtt(DOC_NAME.value,this)"   			
		 (click)="this.starServices.att_img_form_openUploadimage('DOC_NAME',this)"></a> 
</kendo-formfield>


	<kendo-formfield class="form-field" [orientation]="'horizontal'">
		<kendo-label class="form-label" [for]="SEPARATOR"
			[text]="starServices.getNLS([],'apg_table_form.table.SEPARATOR','Separator')"></kendo-label>
		<input class="form-input" formControlName="SEPARATOR" kendoTextBox #SEPARATOR
			[placeholder]="starServices.getNLS([],'apg_table_form.table.SEPARATOR_Hint','Please enter SEPARATOR')"
			(change)="onChange_SEPARATOR($event)" />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'" >
		<kendo-label class="form-label" [for]="FILE_NAME" [text]="starServices.getNLS([],'dsp_batch_DSP_BATCH_FILE_DEF_FORM.dspbatchFileDefDspBatchDspBatchFileDefForm.FILE_NAME','File Name')"></kendo-label>
		<input class="form-input" formControlName="FILE_NAME" kendoTextBox #FILE_NAME
		[ngClass]="{ 'ng-invalid-required  ng-touched': submitted && f.FILE_NAME.errors }"  required 
		[readonly]="primarKeyReadOnlyArr.isFILE_NAMEreadOnly" [placeholder]="starServices.getNLS([],'dsp_batch_DSP_BATCH_FILE_DEF_FORM.dspbatchFileDefDspBatchDspBatchFileDefForm.FILE_NAME_Hint','Please enter File Name')"
 (change)="onChange_FILE_NAME($event)"    />
	</kendo-formfield>

	<kendo-formfield class="form-field" [orientation]="'horizontal'"  *ngIf=false >
		<kendo-label class="form-label" [for]="LOGNAME" [text]="starServices.getNLS([],'dsp_batch_DSP_BATCH_FILE_DEF_FORM.dspbatchFileDefDspBatchDspBatchFileDefForm.LOGNAME','Logname')"></kendo-label>
		<input class="form-input" formControlName="LOGNAME" kendoTextBox #LOGNAME  [placeholder]="starServices.getNLS([],'dsp_batch_DSP_BATCH_FILE_DEF_FORM.dspbatchFileDefDspBatchDspBatchFileDefForm.LOGNAME_Hint','Please enter Logname')"
 (change)="onChange_LOGNAME($event)"    />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait ? 'standard' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'"  *ngIf=false >
		<kendo-label class="form-label" [for]="LOGDATE" [text]="starServices.getNLS([],'dsp_batch_DSP_BATCH_FILE_DEF_FORM.dspbatchFileDefDspBatchDspBatchFileDefForm.LOGDATE','Logdate')"></kendo-label>
		<kendo-datepicker [format]="this.paramConfig.DateFormat" class="form-field-date" formControlName="LOGDATE"  #LOGDATE 
  [placeholder]="starServices.getNLS([],'dsp_batch_DSP_BATCH_FILE_DEF_FORM.dspbatchFileDefDspBatchDspBatchFileDefForm.LOGDATE_Hint','Please enter Logdate')" (valueChange)="onValueChange_LOGDATE($event)"   
		></kendo-datepicker>
	</kendo-formfield>
</div>


    </fieldset>
    </form>
	<app-dsp-dynamic-rw-grid 
    [detail_Input]="grid_DSP_DYNAMIC_RW" 
    [hidden]="!fieldsOpened" 
    (saveCompletedOutput)="saveCompletedHandler($event)" 
    [setComponentConfig_Input]="DSP_DYNAMIC_RWGridConfig"
    [setLanguageChanged]="languageChanged"
   >
</app-dsp-dynamic-rw-grid>

    <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
</kendo-pdf-export>
</div>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>
  



