<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
<legend class="k-form-legend" *ngIf="componentConfig.showTitle">{{
      componentConfig.title ? componentConfig.title :
       this.starServices.getNLS([],"SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.component_title","Shape States List") }}</legend>
	
    <kendo-grid [rowClass]="ROW_CLASS" (excelExport)="onExcelExport($event)"
    
    id="grid" [sortable]="true" [height]="componentConfig.gridHeight ? componentConfig.gridHeight : gridHeight"
    [resizable] ="true"
    (cellClick)="cellClickHandler($event)" 
    (add)="addHandler()"
    (remove)="removeHandler($event)"
    [filter]="state.filter"
    [filterable]= "isFilterable"
    [columnMenu]="isColumnMenu"
    (dataStateChange)="dataStateChange($event)"
    [resizable]="true"
    [sortable]="true">

    
    
      
        <ng-template kendoGridToolbarTemplate *ngIf="componentConfig.showToolBar">


        
        

        
            <button  [icon]="'sliders'"  [disabled]="isSearch" kendoButton  title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery(grid);" *ngIf="componentConfig.queryable">{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}</button >
            <button  kendoButton [icon]="'zoom'" title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery(grid);" *ngIf="componentConfig.queryable"></button >
            <button  kendoButton [icon]="'cancel'" title="Cancel" title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="cancelHandler()" ></button >
        

            <button  [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}"  kendoGridAddCommand *ngIf="componentConfig.insertable && !isSearch"></button >
            <button  kendoButton [disabled]="isSearch" [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges(grid);" *ngIf="!isSearch && (componentConfig.updateable || componentConfig.insertable) "></button >
            <button title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}"  kendoButton [icon]="'trash'" (click)="removeHandler($event)"  *ngIf="componentConfig.removeable && !isSearch"></button >

        
        <button  kendoButton [icon]="'menu'" title="{{starServices.getNLS([],'SHOW_HIDE_MENU','Show/Hide Menu')}}"   (click)="toggleColumnMenu()" *ngIf="!isSearch && !isPhonePortrait"></button >
            <div *ngIf="isColumnMenu">
				<button  kendoButton [icon]="'filter'" title="{{starServices.getNLS([],'SHOW_HIDE_FILTER_OPTIONS','Show/Hide Filter options')}}"  (click)="toggleFilter()" ></button >
            <button  [icon]="'file-pdf'" title="{{starServices.getNLS([],'EXPORT_TO_PDF','Export to PDF')}}"  kendoGridPDFCommand ></button >
            <button  [icon]="'file-excel'" title="{{starServices.getNLS([],'EXPORT_TO_EXCEL','Export to Excel')}}"  kendoGridExcelCommand ></button > 
			</div>
            
            <button  kendoButton *ngIf="starServices.helpMsg_grid !=='' "    >{{starServices.helpMsg_grid}}</button>		
            

    
    </ng-template>


	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SHAPE_STATE_ID"
 *ngIf=visibleSHAPE_STATE_ID  [editable]=" !(disabledColumns.indexOf('SHAPE_STATE_ID') > -1)  && !primarKeyReadOnlyArr.isSHAPE_STATE_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('SHAPE_STATE_ID') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.SHAPE_STATE_ID','Shape State Id') + ' *'}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.SHAPE_STATE_ID}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_SHAPE_STATE_ID()"      [formControl]="formGroup.get('SHAPE_STATE_ID')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.SHAPE_STATE_ID_Hint','Please enter Shape State Id.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SHAPE_ID" title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.SHAPE_ID','Shape Id') + ' *'}}" [width]="100"   *ngIf=visibleSHAPE_ID  [editable]=" !(disabledColumns.indexOf('SHAPE_ID') > -1)  "

 [hidden]="hiddenColumns.indexOf('SHAPE_ID') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span     > {{lkpArrGetSHAPE_ID(dataItem.SHAPE_ID)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrSHAPE_ID"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeSHAPE_ID($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('SHAPE_ID')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="STATE_ID"
 *ngIf=visibleSTATE_ID  [editable]=" !(disabledColumns.indexOf('STATE_ID') > -1)  "

 [hidden]="hiddenColumns.indexOf('STATE_ID') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.STATE_ID','State Id')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.STATE_ID}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_STATE_ID()"      [formControl]="formGroup.get('STATE_ID')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.STATE_ID_Hint','Please enter State Id.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="STATE_NAME"
 *ngIf=visibleSTATE_NAME  [editable]=" !(disabledColumns.indexOf('STATE_NAME') > -1)  "

 [hidden]="hiddenColumns.indexOf('STATE_NAME') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.STATE_NAME','State Name')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.STATE_NAME}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_STATE_NAME()"      [formControl]="formGroup.get('STATE_NAME')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.STATE_NAME_Hint','Please enter State Name.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="VALUE"
 *ngIf=visibleVALUE  [editable]=" !(disabledColumns.indexOf('VALUE') > -1)  "

 [hidden]="hiddenColumns.indexOf('VALUE') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.VALUE','Value')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.VALUE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_VALUE()"      [formControl]="formGroup.get('VALUE')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.VALUE_Hint','Please enter Value.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="BACK_COLOR"
 *ngIf=visibleBACK_COLOR  [editable]=" !(disabledColumns.indexOf('BACK_COLOR') > -1)  "

 [hidden]="hiddenColumns.indexOf('BACK_COLOR') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.BACK_COLOR','Back Color')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.BACK_COLOR}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_BACK_COLOR()"      [formControl]="formGroup.get('BACK_COLOR')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.BACK_COLOR_Hint','Please enter Back Color.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="BORDER_COLOR"
 *ngIf=visibleBORDER_COLOR  [editable]=" !(disabledColumns.indexOf('BORDER_COLOR') > -1)  "

 [hidden]="hiddenColumns.indexOf('BORDER_COLOR') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.BORDER_COLOR','Border Color')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.BORDER_COLOR}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_BORDER_COLOR()"      [formControl]="formGroup.get('BORDER_COLOR')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.BORDER_COLOR_Hint','Please enter Border Color.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="BLINK"
 *ngIf=visibleBLINK  [editable]=" !(disabledColumns.indexOf('BLINK') > -1)  "

 [hidden]="hiddenColumns.indexOf('BLINK') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.BLINK','Blink')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.BLINK}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_BLINK()"      [formControl]="formGroup.get('BLINK')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.BLINK_Hint','Please enter Blink.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="PATTERN_STYLE"
 *ngIf=visiblePATTERN_STYLE  [editable]=" !(disabledColumns.indexOf('PATTERN_STYLE') > -1)  "

 [hidden]="hiddenColumns.indexOf('PATTERN_STYLE') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.PATTERN_STYLE','Pattern Style')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.PATTERN_STYLE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_PATTERN_STYLE()"      [formControl]="formGroup.get('PATTERN_STYLE')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.PATTERN_STYLE_Hint','Please enter Pattern Style.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="PATTERN_COLOR"
 *ngIf=visiblePATTERN_COLOR  [editable]=" !(disabledColumns.indexOf('PATTERN_COLOR') > -1)  "

 [hidden]="hiddenColumns.indexOf('PATTERN_COLOR') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.PATTERN_COLOR','Pattern Color')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.PATTERN_COLOR}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_PATTERN_COLOR()"      [formControl]="formGroup.get('PATTERN_COLOR')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.PATTERN_COLOR_Hint','Please enter Pattern Color.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="INSERT_VARIABLE" title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.INSERT_VARIABLE','Insert variable')}}" [width]="50"   *ngIf=visibleINSERT_VARIABLE  [editable]=" !(disabledColumns.indexOf('INSERT_VARIABLE') > -1)  "

 [hidden]="hiddenColumns.indexOf('INSERT_VARIABLE') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span     > {{lkpArrGetINSERT_VARIABLE(dataItem.INSERT_VARIABLE)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrINSERT_VARIABLE"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeINSERT_VARIABLE($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('INSERT_VARIABLE')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION"
 *ngIf=visibleCAPTION  [editable]=" !(disabledColumns.indexOf('CAPTION') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION','Caption')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION()"      [formControl]="formGroup.get('CAPTION')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_Hint','Please enter Caption.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="FONT_NAME"
 *ngIf=visibleFONT_NAME  [editable]=" !(disabledColumns.indexOf('FONT_NAME') > -1)  "

 [hidden]="hiddenColumns.indexOf('FONT_NAME') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_NAME','Font Name')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.FONT_NAME}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_FONT_NAME()"      [formControl]="formGroup.get('FONT_NAME')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_NAME_Hint','Please enter Font Name.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="FONT_SIZE"
 *ngIf=visibleFONT_SIZE  [editable]=" !(disabledColumns.indexOf('FONT_SIZE') > -1)  "

 [hidden]="hiddenColumns.indexOf('FONT_SIZE') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_SIZE','Font Size')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.FONT_SIZE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_FONT_SIZE()"      [formControl]="formGroup.get('FONT_SIZE')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_SIZE_Hint','Please enter Font Size.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="FONT_BOLD"
 *ngIf=visibleFONT_BOLD  [editable]=" !(disabledColumns.indexOf('FONT_BOLD') > -1)  "

 [hidden]="hiddenColumns.indexOf('FONT_BOLD') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_BOLD','Font Bold')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.FONT_BOLD}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_FONT_BOLD()"      [formControl]="formGroup.get('FONT_BOLD')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_BOLD_Hint','Please enter Font Bold.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="FONT_ITALIC"
 *ngIf=visibleFONT_ITALIC  [editable]=" !(disabledColumns.indexOf('FONT_ITALIC') > -1)  "

 [hidden]="hiddenColumns.indexOf('FONT_ITALIC') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_ITALIC','Font Italic')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.FONT_ITALIC}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_FONT_ITALIC()"      [formControl]="formGroup.get('FONT_ITALIC')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_ITALIC_Hint','Please enter Font Italic.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="FONT_UNDERLINE"
 *ngIf=visibleFONT_UNDERLINE  [editable]=" !(disabledColumns.indexOf('FONT_UNDERLINE') > -1)  "

 [hidden]="hiddenColumns.indexOf('FONT_UNDERLINE') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_UNDERLINE','Font Underline')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.FONT_UNDERLINE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_FONT_UNDERLINE()"      [formControl]="formGroup.get('FONT_UNDERLINE')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.FONT_UNDERLINE_Hint','Please enter Font Underline.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION_COLOR"
 *ngIf=visibleCAPTION_COLOR  [editable]=" !(disabledColumns.indexOf('CAPTION_COLOR') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION_COLOR') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_COLOR','Caption Color')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION_COLOR}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION_COLOR()"      [formControl]="formGroup.get('CAPTION_COLOR')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_COLOR_Hint','Please enter Caption Color.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION_BACK_COLOR"
 *ngIf=visibleCAPTION_BACK_COLOR  [editable]=" !(disabledColumns.indexOf('CAPTION_BACK_COLOR') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION_BACK_COLOR') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_BACK_COLOR','Caption Back Color')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION_BACK_COLOR}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION_BACK_COLOR()"      [formControl]="formGroup.get('CAPTION_BACK_COLOR')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_BACK_COLOR_Hint','Please enter Caption Back Color.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION_BLINK"
 *ngIf=visibleCAPTION_BLINK  [editable]=" !(disabledColumns.indexOf('CAPTION_BLINK') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION_BLINK') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_BLINK','Caption Blink')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION_BLINK}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION_BLINK()"      [formControl]="formGroup.get('CAPTION_BLINK')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_BLINK_Hint','Please enter Caption Blink.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION_WORD_WRAP"
 *ngIf=visibleCAPTION_WORD_WRAP  [editable]=" !(disabledColumns.indexOf('CAPTION_WORD_WRAP') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION_WORD_WRAP') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_WORD_WRAP','Caption Word Wrap')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION_WORD_WRAP}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION_WORD_WRAP()"      [formControl]="formGroup.get('CAPTION_WORD_WRAP')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_WORD_WRAP_Hint','Please enter Caption Word Wrap.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION_BACK_STYLE"
 *ngIf=visibleCAPTION_BACK_STYLE  [editable]=" !(disabledColumns.indexOf('CAPTION_BACK_STYLE') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION_BACK_STYLE') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_BACK_STYLE','Caption Back Style')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION_BACK_STYLE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION_BACK_STYLE()"      [formControl]="formGroup.get('CAPTION_BACK_STYLE')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_BACK_STYLE_Hint','Please enter Caption Back Style.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION_ALIGNMENT"
 *ngIf=visibleCAPTION_ALIGNMENT  [editable]=" !(disabledColumns.indexOf('CAPTION_ALIGNMENT') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION_ALIGNMENT') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_ALIGNMENT','Caption Alignment')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION_ALIGNMENT}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION_ALIGNMENT()"      [formControl]="formGroup.get('CAPTION_ALIGNMENT')" [placeholder]="starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.CAPTION_ALIGNMENT_Hint','Please enter Caption Alignment.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="IMAGE_TYPE" 
 *ngIf=visibleIMAGE_TYPE  [editable]=" !(disabledColumns.indexOf('IMAGE_TYPE') > -1)  "

 [hidden]="hiddenColumns.indexOf('IMAGE_TYPE') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.IMAGE_TYPE','Image Type')}}"   [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem>
		 <kendo-avatar [imageSrc]="dataItem.IMAGE_TYPE"  width="50px" height="50px"  ></kendo-avatar>
		 </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<textarea kendoTextArea  style="resize: both;"  [formControl]="formGroup.get('IMAGE_TYPE')"  
		kendoTextBox #IMAGE_TYPE></textarea>
		 </ng-template>
</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="IMAGE_NAME" 
 *ngIf=visibleIMAGE_NAME  [editable]=" !(disabledColumns.indexOf('IMAGE_NAME') > -1)  "

 [hidden]="hiddenColumns.indexOf('IMAGE_NAME') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.IMAGE_NAME','Image Name')}}"   [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem>
		 <kendo-avatar [imageSrc]="dataItem.IMAGE_NAME"  width="50px" height="50px"  ></kendo-avatar>
		 </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<textarea kendoTextArea  style="resize: both;"  [formControl]="formGroup.get('IMAGE_NAME')"  
		kendoTextBox #IMAGE_NAME></textarea>
		 </ng-template>
</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="IMAGE_COLOR" 
 *ngIf=visibleIMAGE_COLOR  [editable]=" !(disabledColumns.indexOf('IMAGE_COLOR') > -1)  "

 [hidden]="hiddenColumns.indexOf('IMAGE_COLOR') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.IMAGE_COLOR','Image Color')}}"   [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem>
		 <kendo-avatar [imageSrc]="dataItem.IMAGE_COLOR"  width="50px" height="50px"  ></kendo-avatar>
		 </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<textarea kendoTextArea  style="resize: both;"  [formControl]="formGroup.get('IMAGE_COLOR')"  
		kendoTextBox #IMAGE_COLOR></textarea>
		 </ng-template>
</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="IMAGE_BACK_COLOR" 
 *ngIf=visibleIMAGE_BACK_COLOR  [editable]=" !(disabledColumns.indexOf('IMAGE_BACK_COLOR') > -1)  "

 [hidden]="hiddenColumns.indexOf('IMAGE_BACK_COLOR') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.IMAGE_BACK_COLOR','Image Back Color')}}"   [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem>
		 <kendo-avatar [imageSrc]="dataItem.IMAGE_BACK_COLOR"  width="50px" height="50px"  ></kendo-avatar>
		 </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<textarea kendoTextArea  style="resize: both;"  [formControl]="formGroup.get('IMAGE_BACK_COLOR')"  
		kendoTextBox #IMAGE_BACK_COLOR></textarea>
		 </ng-template>
</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="IMAGE_BLINK" 
 *ngIf=visibleIMAGE_BLINK  [editable]=" !(disabledColumns.indexOf('IMAGE_BLINK') > -1)  "

 [hidden]="hiddenColumns.indexOf('IMAGE_BLINK') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.IMAGE_BLINK','Image Blink')}}"   [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem>
		 <kendo-avatar [imageSrc]="dataItem.IMAGE_BLINK"  width="50px" height="50px"  ></kendo-avatar>
		 </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<textarea kendoTextArea  style="resize: both;"  [formControl]="formGroup.get('IMAGE_BLINK')"  
		kendoTextBox #IMAGE_BLINK></textarea>
		 </ng-template>
</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SCALE_IMAGE" 
 *ngIf=visibleSCALE_IMAGE  [editable]=" !(disabledColumns.indexOf('SCALE_IMAGE') > -1)  "

 [hidden]="hiddenColumns.indexOf('SCALE_IMAGE') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.SCALE_IMAGE','Scale Image')}}"   [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem>
		 <kendo-avatar [imageSrc]="dataItem.SCALE_IMAGE"  width="50px" height="50px"  ></kendo-avatar>
		 </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<textarea kendoTextArea  style="resize: both;"  [formControl]="formGroup.get('SCALE_IMAGE')"  
		kendoTextBox #SCALE_IMAGE></textarea>
		 </ng-template>
</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="IMAGE_ALIGNMENT" 
 *ngIf=visibleIMAGE_ALIGNMENT  [editable]=" !(disabledColumns.indexOf('IMAGE_ALIGNMENT') > -1)  "

 [hidden]="hiddenColumns.indexOf('IMAGE_ALIGNMENT') > -1" 		 title="{{starServices.getNLS([],'SCD_SSL_SHAPE_STATES_LIST.scdshapeStateScdSslShapeStatesList.IMAGE_ALIGNMENT','Image Alignment')}}"   [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem>
		 <kendo-avatar [imageSrc]="dataItem.IMAGE_ALIGNMENT"  width="50px" height="50px"  ></kendo-avatar>
		 </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<textarea kendoTextArea  style="resize: both;"  [formControl]="formGroup.get('IMAGE_ALIGNMENT')"  
		kendoTextBox #IMAGE_ALIGNMENT></textarea>
		 </ng-template>
</kendo-grid-column>




    
                       <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                         <div class="page-template">
                            <div class="header">
                              <div style="float: center">{{ title }}</div>
                            </div>
                            <div class="footer">
                              Page {{ pageNum }} of {{ totalPages }}
                            </div>
                          </div>
                        </ng-template>
                    </kendo-grid-pdf>
                    <kendo-grid-excel fileName="ExcelfileName" ></kendo-grid-excel>
    
    </kendo-grid>
    
  <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

    </kendo-pdf-export>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>

