<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
<legend class="k-form-legend" *ngIf="componentConfig.showToolBar">{{
      componentConfig.title ? componentConfig.title :
       this.starServices.getNLS([],"SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.component_title","Alarm Display Filters Conditions") }}</legend>
	
    <kendo-grid [rowClass]="ROW_CLASS" (excelExport)="onExcelExport($event)"
    
    id="grid" [sortable]="true" [height]="componentConfig.gridHeight ? componentConfig.gridHeight : gridHeight"
    [resizable] ="true"
    (cellClick)="cellClickHandler($event)" 
    (add)="addHandler()"
    (remove)="removeHandler($event)"
    [filter]="state.filter"
    [filterable]= "isFilterable"
    [columnMenu]="isColumnMenu"
    (dataStateChange)="dataStateChange($event)"
    [resizable]="true"
    [sortable]="true">

    
    
      
        <ng-template kendoGridToolbarTemplate *ngIf="componentConfig.showToolBar">


        
        

        
            <button  [icon]="'sliders'"  [disabled]="isSearch" kendoButton  title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery(grid);" *ngIf="componentConfig.queryable">{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}</button >
            <button  kendoButton [icon]="'zoom'" title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery(grid);" *ngIf="componentConfig.queryable"></button >
            <button  kendoButton [icon]="'cancel'" title="Cancel" title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="cancelHandler()" ></button >
        

            <button  [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}"  kendoGridAddCommand *ngIf="componentConfig.insertable && !isSearch"></button >
            <button  kendoButton [disabled]="isSearch" [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges(grid);" *ngIf="!isSearch && (componentConfig.updateable || componentConfig.insertable) "></button >
            <button title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}"  kendoButton [icon]="'trash'" (click)="removeHandler($event)"  *ngIf="componentConfig.removeable && !isSearch"></button >

        
        <button  kendoButton [icon]="'menu'" title="{{starServices.getNLS([],'SHOW_HIDE_MENU','Show/Hide Menu')}}"   (click)="toggleColumnMenu()" *ngIf="!isSearch && !isPhonePortrait"></button >
            <div *ngIf="isColumnMenu">
				<button  kendoButton [icon]="'filter'" title="{{starServices.getNLS([],'SHOW_HIDE_FILTER_OPTIONS','Show/Hide Filter options')}}"  (click)="toggleFilter()" ></button >
            <button  [icon]="'file-pdf'" title="{{starServices.getNLS([],'EXPORT_TO_PDF','Export to PDF')}}"  kendoGridPDFCommand ></button >
            <button  [icon]="'file-excel'" title="{{starServices.getNLS([],'EXPORT_TO_EXCEL','Export to Excel')}}"  kendoGridExcelCommand ></button > 
			</div>
            
            <button  kendoButton *ngIf="starServices.helpMsg_grid !=='' "    >{{starServices.helpMsg_grid}}</button>		
            

    
    </ng-template>


	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CONDITION_ID"
 *ngIf=visibleCONDITION_ID  [editable]=" !(disabledColumns.indexOf('CONDITION_ID') > -1)  && !primarKeyReadOnlyArr.isCONDITION_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('CONDITION_ID') > -1" 		 title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.CONDITION_ID','Condition Id') + ' *'}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span    class="HIGH" >{{dataItem.CONDITION_ID}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CONDITION_ID()"    class="HIGH"  [formControl]="formGroup.get('CONDITION_ID')" [placeholder]="starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.CONDITION_ID_Hint','Please enter Condition Id.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SHAPE_ID" title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.SHAPE_ID','Shape Id') + ' *'}}" [width]="100"   *ngIf=visibleSHAPE_ID  [editable]=" !(disabledColumns.indexOf('SHAPE_ID') > -1)  && !primarKeyReadOnlyArr.isSHAPE_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('SHAPE_ID') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span    class="Base" > {{lkpArrGetSHAPE_ID(dataItem.SHAPE_ID)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrSHAPE_ID"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeSHAPE_ID($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('SHAPE_ID')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="FILTER_ID" title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.FILTER_ID','Filter Id') + ' *'}}" [width]="100"   *ngIf=visibleFILTER_ID  [editable]=" !(disabledColumns.indexOf('FILTER_ID') > -1)  && !primarKeyReadOnlyArr.isFILTER_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('FILTER_ID') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span    class="Base" > {{lkpArrGetFILTER_ID(dataItem.FILTER_ID)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrFILTER_ID"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeFILTER_ID($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('FILTER_ID')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CONDITION"
 *ngIf=visibleCONDITION  [editable]=" !(disabledColumns.indexOf('CONDITION') > -1)  "

 [hidden]="hiddenColumns.indexOf('CONDITION') > -1" 		 title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.CONDITION','Condition')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span    class="MEDIUM" >{{dataItem.CONDITION}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CONDITION()"    class="MEDIUM"  [formControl]="formGroup.get('CONDITION')" [placeholder]="starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.CONDITION_Hint','Please enter Condition.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CONDITION_ORDER" title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.CONDITION_ORDER','Condition Order')}}" [width]="100"   *ngIf=visibleCONDITION_ORDER  [editable]=" !(disabledColumns.indexOf('CONDITION_ORDER') > -1)  "

 [hidden]="hiddenColumns.indexOf('CONDITION_ORDER') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span    class="MEDIUM" > {{lkpArrGetCONDITION_ORDER(dataItem.CONDITION_ORDER)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrCONDITION_ORDER"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeCONDITION_ORDER($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('CONDITION_ORDER')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="BRACKET_OPEN" title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.BRACKET_OPEN','Bracket Open')}}" [width]="100"   *ngIf=visibleBRACKET_OPEN  [editable]=" !(disabledColumns.indexOf('BRACKET_OPEN') > -1)  "

 [hidden]="hiddenColumns.indexOf('BRACKET_OPEN') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span    class="LOW" > {{lkpArrGetBRACKET_OPEN(dataItem.BRACKET_OPEN)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrBRACKET_OPEN"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeBRACKET_OPEN($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('BRACKET_OPEN')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="WHERE_FIELD" title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.WHERE_FIELD','Where Field')}}" [width]="100"   *ngIf=visibleWHERE_FIELD  [editable]=" !(disabledColumns.indexOf('WHERE_FIELD') > -1)  "

 [hidden]="hiddenColumns.indexOf('WHERE_FIELD') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span    class="MEDIUM" > {{lkpArrGetWHERE_FIELD(dataItem.WHERE_FIELD)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrWHERE_FIELD"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeWHERE_FIELD($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('WHERE_FIELD')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="EVENT_FIELD" title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.EVENT_FIELD','Event Field')}}" [width]="100"   *ngIf=visibleEVENT_FIELD  [editable]=" !(disabledColumns.indexOf('EVENT_FIELD') > -1)  "

 [hidden]="hiddenColumns.indexOf('EVENT_FIELD') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span    class="MEDIUM" > {{lkpArrGetEVENT_FIELD(dataItem.EVENT_FIELD)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrEVENT_FIELD"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeEVENT_FIELD($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('EVENT_FIELD')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="VALUE"
 *ngIf=visibleVALUE  [editable]=" !(disabledColumns.indexOf('VALUE') > -1)  "

 [hidden]="hiddenColumns.indexOf('VALUE') > -1" 		 title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.VALUE','Value')}}"  [width]="100">
		 <ng-template kendoGridCellTemplate let-dataItem><span    class="MEDIUM" >{{dataItem.VALUE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_VALUE()"    class="MEDIUM"  [formControl]="formGroup.get('VALUE')" [placeholder]="starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.VALUE_Hint','Please enter Value.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="BRACKET_CLOSE" title="{{starServices.getNLS([],'SCD_ADFC_ALARM_DISPLAY_FILTERS_CONDITIONS.scdalarmDisplayFiltersConditionsScdAdfcAlarmDisplayFiltersConditions.BRACKET_CLOSE','Bracket Close')}}" [width]="100"   *ngIf=visibleBRACKET_CLOSE  [editable]=" !(disabledColumns.indexOf('BRACKET_CLOSE') > -1)  "

 [hidden]="hiddenColumns.indexOf('BRACKET_CLOSE') > -1" >
		<ng-template kendoGridCellTemplate let-dataItem><span    class="LOW" > {{lkpArrGetBRACKET_CLOSE(dataItem.BRACKET_CLOSE)?.CODETEXT_LANG}}</span> </ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<kendo-dropdownlist  [data]="lkpArrBRACKET_CLOSE"  textField="CODETEXT_LANG" valueField="CODE"
		 (valueChange)="valueChangeBRACKET_CLOSE($event)" 
		[valuePrimitive]="true" [formControl]="formGroup.get('BRACKET_CLOSE')">
		</kendo-dropdownlist>
		</ng-template>
	</kendo-grid-column>




    
                       <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                         <div class="page-template">
                            <div class="header">
                              <div style="float: center">{{ title }}</div>
                            </div>
                            <div class="footer">
                              Page {{ pageNum }} of {{ totalPages }}
                            </div>
                          </div>
                        </ng-template>
                    </kendo-grid-pdf>
                    <kendo-grid-excel fileName="ExcelfileName" ></kendo-grid-excel>
    
    </kendo-grid>
    
  <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

    </kendo-pdf-export>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>

