<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
<legend class="k-form-legend" *ngIf="componentConfig.showToolBar">{{
      componentConfig.title ? componentConfig.title :
       this.starServices.getNLS([],"SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.component_title","Alarm Columns") }}</legend>
	
    <kendo-grid [rowClass]="ROW_CLASS" (excelExport)="onExcelExport($event)"
    
    id="grid" [sortable]="true" [height]="componentConfig.gridHeight ? componentConfig.gridHeight : gridHeight"
    [resizable] ="true"
    (cellClick)="cellClickHandler($event)" 
    (add)="addHandler()"
    (remove)="removeHandler($event)"
    [filter]="state.filter"
    [filterable]= "isFilterable"
    [columnMenu]="isColumnMenu"
    (dataStateChange)="dataStateChange($event)"
    [resizable]="true"
    [sortable]="true">

    
    
      
        <ng-template kendoGridToolbarTemplate *ngIf="componentConfig.showToolBar">


        
        

        
            <button  [icon]="'sliders'"  [disabled]="isSearch" kendoButton  title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery(grid);" *ngIf="componentConfig.queryable">{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}</button >
            <button  kendoButton [icon]="'zoom'" title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery(grid);" *ngIf="componentConfig.queryable"></button >
            <button  kendoButton [icon]="'cancel'" title="Cancel" title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="cancelHandler()" ></button >
        

            <button  [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}"  kendoGridAddCommand *ngIf="componentConfig.insertable && !isSearch"></button >
            <button  kendoButton [disabled]="isSearch" [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges(grid);" *ngIf="!isSearch && (componentConfig.updateable || componentConfig.insertable) "></button >
            <button title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}"  kendoButton [icon]="'trash'" (click)="removeHandler($event)"  *ngIf="componentConfig.removeable && !isSearch"></button >

        
        <button  kendoButton [icon]="'menu'" title="{{starServices.getNLS([],'SHOW_HIDE_MENU','Show/Hide Menu')}}"   (click)="toggleColumnMenu()" *ngIf="!isSearch && !isPhonePortrait"></button >
            <div *ngIf="isColumnMenu">
				<button  kendoButton [icon]="'filter'" title="{{starServices.getNLS([],'SHOW_HIDE_FILTER_OPTIONS','Show/Hide Filter options')}}"  (click)="toggleFilter()" ></button >
            <button  [icon]="'file-pdf'" title="{{starServices.getNLS([],'EXPORT_TO_PDF','Export to PDF')}}"  kendoGridPDFCommand ></button >
            <button  [icon]="'file-excel'" title="{{starServices.getNLS([],'EXPORT_TO_EXCEL','Export to Excel')}}"  kendoGridExcelCommand ></button > 
			</div>
            
            <button  kendoButton *ngIf="starServices.helpMsg_grid !=='' "    >{{starServices.helpMsg_grid}}</button>		
            

    
    </ng-template>


	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="COLUMN_ID"
 *ngIf=visibleCOLUMN_ID  [editable]=" !(disabledColumns.indexOf('COLUMN_ID') > -1)  && !primarKeyReadOnlyArr.isCOLUMN_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('COLUMN_ID') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.COLUMN_ID','') + ' *'}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.COLUMN_ID}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_COLUMN_ID()"      [formControl]="formGroup.get('COLUMN_ID')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SHAPE_ID"
 *ngIf=visibleSHAPE_ID  [editable]=" !(disabledColumns.indexOf('SHAPE_ID') > -1)  && !primarKeyReadOnlyArr.isSHAPE_IDreadOnly  "

 [hidden]="hiddenColumns.indexOf('SHAPE_ID') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.SHAPE_ID','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.SHAPE_ID}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_SHAPE_ID()"      [formControl]="formGroup.get('SHAPE_ID')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="ALARM_TYPE"
 *ngIf=visibleALARM_TYPE  [editable]=" !(disabledColumns.indexOf('ALARM_TYPE') > -1)  "

 [hidden]="hiddenColumns.indexOf('ALARM_TYPE') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.ALARM_TYPE','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.ALARM_TYPE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_ALARM_TYPE()"      [formControl]="formGroup.get('ALARM_TYPE')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="ROW_ORDER"
 *ngIf=visibleROW_ORDER  [editable]=" !(disabledColumns.indexOf('ROW_ORDER') > -1)  "

 [hidden]="hiddenColumns.indexOf('ROW_ORDER') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.ROW_ORDER','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.ROW_ORDER}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_ROW_ORDER()"      [formControl]="formGroup.get('ROW_ORDER')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="ROW_TYPE"
 *ngIf=visibleROW_TYPE  [editable]=" !(disabledColumns.indexOf('ROW_TYPE') > -1)  "

 [hidden]="hiddenColumns.indexOf('ROW_TYPE') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.ROW_TYPE','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.ROW_TYPE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_ROW_TYPE()"      [formControl]="formGroup.get('ROW_TYPE')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SHOW_COLUMN_BUTTON_PANEL"
 *ngIf=visibleSHOW_COLUMN_BUTTON_PANEL  [editable]=" !(disabledColumns.indexOf('SHOW_COLUMN_BUTTON_PANEL') > -1)  "

 [hidden]="hiddenColumns.indexOf('SHOW_COLUMN_BUTTON_PANEL') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.SHOW_COLUMN_BUTTON_PANEL','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.SHOW_COLUMN_BUTTON_PANEL}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_SHOW_COLUMN_BUTTON_PANEL()"      [formControl]="formGroup.get('SHOW_COLUMN_BUTTON_PANEL')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="IMAGE_ICON"
 *ngIf=visibleIMAGE_ICON  [editable]=" !(disabledColumns.indexOf('IMAGE_ICON') > -1)  "

 [hidden]="hiddenColumns.indexOf('IMAGE_ICON') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.IMAGE_ICON','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.IMAGE_ICON}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_IMAGE_ICON()"      [formControl]="formGroup.get('IMAGE_ICON')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="HEADING_TEXT"
 *ngIf=visibleHEADING_TEXT  [editable]=" !(disabledColumns.indexOf('HEADING_TEXT') > -1)  "

 [hidden]="hiddenColumns.indexOf('HEADING_TEXT') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.HEADING_TEXT','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.HEADING_TEXT}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_HEADING_TEXT()"      [formControl]="formGroup.get('HEADING_TEXT')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="WIDTH"
 *ngIf=visibleWIDTH  [editable]=" !(disabledColumns.indexOf('WIDTH') > -1)  "

 [hidden]="hiddenColumns.indexOf('WIDTH') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.WIDTH','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.WIDTH}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_WIDTH()"      [formControl]="formGroup.get('WIDTH')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="ALIGN"
 *ngIf=visibleALIGN  [editable]=" !(disabledColumns.indexOf('ALIGN') > -1)  "

 [hidden]="hiddenColumns.indexOf('ALIGN') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.ALIGN','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.ALIGN}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_ALIGN()"      [formControl]="formGroup.get('ALIGN')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="FORMAT"
 *ngIf=visibleFORMAT  [editable]=" !(disabledColumns.indexOf('FORMAT') > -1)  "

 [hidden]="hiddenColumns.indexOf('FORMAT') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.FORMAT','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.FORMAT}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_FORMAT()"      [formControl]="formGroup.get('FORMAT')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SAMPLE"
 *ngIf=visibleSAMPLE  [editable]=" !(disabledColumns.indexOf('SAMPLE') > -1)  "

 [hidden]="hiddenColumns.indexOf('SAMPLE') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.SAMPLE','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.SAMPLE}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_SAMPLE()"      [formControl]="formGroup.get('SAMPLE')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="TOOLTIP"
 *ngIf=visibleTOOLTIP  [editable]=" !(disabledColumns.indexOf('TOOLTIP') > -1)  "

 [hidden]="hiddenColumns.indexOf('TOOLTIP') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.TOOLTIP','')}}"  [width]="400">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.TOOLTIP}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_TOOLTIP()"      [formControl]="formGroup.get('TOOLTIP')" [placeholder]="" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="SHOW_COLUMN_FIELD"
 *ngIf=visibleSHOW_COLUMN_FIELD  [editable]=" !(disabledColumns.indexOf('SHOW_COLUMN_FIELD') > -1)  "

 [hidden]="hiddenColumns.indexOf('SHOW_COLUMN_FIELD') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.SHOW_COLUMN_FIELD','Show column field')}}"  [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.SHOW_COLUMN_FIELD}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_SHOW_COLUMN_FIELD()"      [formControl]="formGroup.get('SHOW_COLUMN_FIELD')" [placeholder]="starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.SHOW_COLUMN_FIELD_Hint','Please enter Show column field.')" />
		</ng-template>
		</kendo-grid-column>

	<kendo-grid-column [headerStyle]="{'white-space': 'pre-wrap'}" field="CAPTION"
 *ngIf=visibleCAPTION  [editable]=" !(disabledColumns.indexOf('CAPTION') > -1)  "

 [hidden]="hiddenColumns.indexOf('CAPTION') > -1" 		 title="{{starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.CAPTION','Caption')}}"  [width]="50">
		 <ng-template kendoGridCellTemplate let-dataItem><span     >{{dataItem.CAPTION}}</span></ng-template>
		<ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
		<input  (blur)="onBlur_CAPTION()"      [formControl]="formGroup.get('CAPTION')" [placeholder]="starServices.getNLS([],'SCD_ACL_ALARM_COLUMNS_0.scdalarmColumnsScdAclAlarmColumns0.CAPTION_Hint','Please enter Caption.')" />
		</ng-template>
		</kendo-grid-column>




    
                       <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                         <div class="page-template">
                            <div class="header">
                              <div style="float: center">{{ title }}</div>
                            </div>
                            <div class="footer">
                              Page {{ pageNum }} of {{ totalPages }}
                            </div>
                          </div>
                        </ng-template>
                    </kendo-grid-pdf>
                    <kendo-grid-excel fileName="ExcelfileName" ></kendo-grid-excel>
    
    </kendo-grid>
    
  <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>
    <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveGridCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

    </kendo-pdf-export>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>

