    <div>   
        <legend class="k-form-legend" ngIf="!visibleOK_BTNS" class="screen-legend">{{ this.starServices.getNLS([],"scd_appboard.scd_appboard.component_title","") }}</legend> 
    <div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrapScreen' ">   
 <button [icon]="isPhonePortrait ? null : 'hyperlink-open'" title="diagram_1" style="margin-right : 10px ;" kendoButton (click)="diagram_1_SCD_DIAGRAMOpen()" > {{this.starServices.getNLS([],"scd_appboard.scd_appboard.compsTitleID2","Diagram")}}</button >
 <button [icon]="isPhonePortrait ? null : 'hyperlink-open'" title="diagram_2" style="margin-right : 10px ;" kendoButton (click)="diagram_2_SCD_DIAGRAMOpen()" > {{this.starServices.getNLS([],"scd_appboard.scd_appboard.compsTitleID3","Diagram1")}}</button >
 <button [icon]="isPhonePortrait ? null : 'hyperlink-open'" title="diagram_3" style="margin-right : 10px ;" kendoButton (click)="diagram_3_SCD_DIAGRAMOpen()" > {{this.starServices.getNLS([],"scd_appboard.scd_appboard.compsTitleID4","Diagram 2")}}</button >
 <button [icon]="isPhonePortrait ? null : 'hyperlink-open'" title="formtabs_4" style="margin-right : 10px ;" kendoButton (click)="formtabs_4_SCD_ALARMOpen()" > {{this.starServices.getNLS([],"scd_appboard.scd_appboard.compsTitleID5","Groups")}}</button >
    </div>   

        <app-scd-ad-application  
                      (readCompletedOutput)="readCompletedHandler($event)"
                      (clearCompletedOutput)="clearCompletedHandler($event)"
                      (saveCompletedOutput)="saveCompletedHandler($event)"
                      (formValidationChangedOutput)="formValidationChangedMD($event, 1)"
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_APPLICATIONForm_0Config">
        </app-scd-ad-application >


        <kendo-window [hidden]="!diagram_1_SCD_DIAGRAMOpened" class="form-borders" 
 			[themeColor]="'primary'"
			[top]="0" [left]="0"  title=""   (close)="diagram_1_SCD_DIAGRAMClose()" > 
        <app-scd-scd-diagram-diagram  [detail_Input]="diagram_1_SCD_DIAGRAM"  
                      (formValidationChangedOutput)="formValidationChangedMD($event,2)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
						(cancelClicked)="diagram_1_SCD_DIAGRAMClose()" 
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_DIAGRAMDiagram_1Config">
        </app-scd-scd-diagram-diagram >


			<button kendoButton [icon]="'close'" (click)="diagram_1_SCD_DIAGRAMOpened=!diagram_1_SCD_DIAGRAMOpened"> {{this.starServices.getNLS([],"CLOSE","Close")}}</button>
</kendo-window>

        <kendo-window [hidden]="!diagram_2_SCD_DIAGRAMOpened" class="form-borders" 
 			[themeColor]="'primary'"
			[top]="0" [left]="0"  title=""   (close)="diagram_2_SCD_DIAGRAMClose()" > 
        <app-scd-scd-diagram-diagram  [detail_Input]="diagram_2_SCD_DIAGRAM"  
                      (formValidationChangedOutput)="formValidationChangedMD($event,3)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
						(cancelClicked)="diagram_2_SCD_DIAGRAMClose()" 
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_DIAGRAMDiagram_2Config">
        </app-scd-scd-diagram-diagram >


			<button kendoButton [icon]="'close'" (click)="diagram_2_SCD_DIAGRAMOpened=!diagram_2_SCD_DIAGRAMOpened"> {{this.starServices.getNLS([],"CLOSE","Close")}}</button>
</kendo-window>

        <kendo-window [hidden]="!diagram_3_SCD_DIAGRAMOpened" class="form-borders" 
 			[themeColor]="'primary'"
			[top]="0" [left]="0"  title=""   (close)="diagram_3_SCD_DIAGRAMClose()" > 
        <app-scd-scd-diagram-diagram  [detail_Input]="diagram_3_SCD_DIAGRAM"  
                      (formValidationChangedOutput)="formValidationChangedMD($event,4)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
						(cancelClicked)="diagram_3_SCD_DIAGRAMClose()" 
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_DIAGRAMDiagram_3Config">
        </app-scd-scd-diagram-diagram >


			<button kendoButton [icon]="'close'" (click)="diagram_3_SCD_DIAGRAMOpened=!diagram_3_SCD_DIAGRAMOpened"> {{this.starServices.getNLS([],"CLOSE","Close")}}</button>
</kendo-window>

        <kendo-window [hidden]="!formtabs_4_SCD_ALARMOpened" class="form-borders" 
 			[themeColor]="'primary'"
			[top]="0" [left]="0"  title=""   (close)="formtabs_4_SCD_ALARMClose()" > 
        <app-scd-group-membership  [detail_Input]="formtabs_4_SCD_ALARM"  
                      (formValidationChangedOutput)="formValidationChangedMD($event,5)"
                      (saveCompletedOutput)="saveCompletedHandler2($event)"
						(cancelClicked)="formtabs_4_SCD_ALARMClose()" 
                      (setComponentConfig_Output)="onComponentConfig_Output($event)"
                      [setComponentConfig_Input]="SCD_ALARMFormtabs_4Config">
        </app-scd-group-membership >


			<button kendoButton [icon]="'close'" (click)="formtabs_4_SCD_ALARMOpened=!formtabs_4_SCD_ALARMOpened"> {{this.starServices.getNLS([],"CLOSE","Close")}}</button>
</kendo-window>
    </div>   
