<kendo-pdf-export #pdf paperSize="A4" margin="2cm">

    <kendo-grid

    id="grid" [sortable]="true" [height]="gridHeight"
    [resizable] ="true"
    (cellClick)="cellClickHandler($event)"
    (edit)="editHandler($event)"
    (add)="addHandler()"
    (remove)="removeHandler($event)"
    [filter]="state.filter"
    [filterable]= "isFilterable"
    [columnMenu]="isColumnMenu"
    (dataStateChange)="dataStateChange($event)"
    [resizable]="true"
    [rowReorderable]="true"
    (rowReorder)="starServices.rowReorder(this, 'TEMPLATE_ORDER', $event)"
    [sortable]="true">




        <ng-template kendoGridToolbarTemplate>
        <!-- <legend class="k-form-legend" *ngIf="componentConfig.showTitle">{{ title }}</legend> -->


        
        <button  kendoButton  [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges(grid);" *ngIf="!isChild && !isSearch"></button >
        <button  kendoButton [icon]="'print'" title="print" (click)="printScreen()" ></button >

        
          
            <button  kendoButton  title="Enter Query" (click)="enterQuery(grid);">{{starServices.getNLS([],'ENTER_QUERY','Enter Query')}}</button >
            <button  kendoButton [icon]="'zoom'" title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery(grid);"></button >
            <button  kendoButton [icon]="'cancel'" title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="cancelHandler()" ></button >
        

            <button  [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}"  kendoGridAddCommand *ngIf="!isSearch"></button >
            <button  [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}"  kendoButton (click)="removeHandler($event)" *ngIf="!isSearch">Remove</button >
        
                        <button  kendoButton [icon]="'menu'" title="{{starServices.getNLS([],'SHOW_HIDE_MENU','Show/Hide Menu')}}"  (click)="toggleColumnMenu()" *ngIf="!isSearch"></button >
            <div *ngIf="isColumnMenu">
            <div *ngIf="isColumnMenu">
              <button  kendoButton [icon]="'filter'" title="{{starServices.getNLS([],'SHOW_HIDE_FILTER_OPTIONS','Show/Hide Filter options')}}"  (click)="toggleFilter()" ></button >
              <button  [icon]="'file-pdf'" title="{{starServices.getNLS([],'EXPORT_TO_PDF','Export to PDF')}}"  kendoGridPDFCommand ></button >
              <button  [icon]="'file-excel'" title="{{starServices.getNLS([],'EXPORT_TO_EXCEL','Export to Excel')}}"  kendoGridExcelCommand ></button > 
			</div>
            
            <button  kendoButton *ngIf="starServices.helpMsg_grid !=='' "    >{{starServices.helpMsg_grid}}</button>		
              <button kendoButton  [icon]="'eye'" title="Toggle Show All"  (click)="toggleShowAll()" ></button >
            </div>
            
            <button  kendoButton *ngIf="starServices.helpMsg_grid !=='' "    >{{starServices.helpMsg_grid}}</button>		
    
    </ng-template>
    <kendo-grid-rowreorder-column [width]="40" title="{{starServices.getNLS([],'DRAG','Drag')}}"></kendo-grid-rowreorder-column>

	<kendo-grid-column  field="TEMPLATE_NAME" *ngIf="false"
		   title="Template Name" [width]="60" [editable]="isTEMPLATE_NAMEEnable"></kendo-grid-column>
  <kendo-grid-column  field="SEQUENCE_NAME"
      [editable]="!primarKeyReadOnlyArr.isSEQUENCEreadOnly"
      [editable]="false"
		   title="Seq." [width]="40"></kendo-grid-column>
  <kendo-grid-column  field="TEMPLATE_ORDER"
      [editable]="false"
        title="Order" [width]="40"></kendo-grid-column>

  <kendo-grid-column  field="WO_TYPE" title="Type" [width]="80">
        <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetWO_TYPE(dataItem.WO_TYPE)?.CODETEXT_LANG}} </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
        <kendo-dropdownlist  [data]="lkpArrWO_TYPE"  textField="CODETEXT_LANG" valueField="CODE"
        [valuePrimitive]="true" [formControl]="formGroup.get('WO_TYPE')">
        </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>


       <!--kendo-grid-column field="DEPT" title="DEPT" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDEPT(dataItem.DEPT)?.CODETEXT_LANG}} </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
        <kendo-dropdownlist  [data]="lkpArrDEPT"  textField="CODETEXT_LANG" valueField="CODE"
        (valueChange)="valueChangeDEPT($event)"
        [valuePrimitive]="true" [formControl]="formGroup.get('DEPT')">
        </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column  field="DIV" title="Div" [width]="100">
        <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDIV(dataItem.DIV)?.CODETEXT_LANG}} </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
        <kendo-dropdownlist  [data]="getlkpArrDIV()"  textField="CODETEXT_LANG" valueField="CODE"
        (valueChange)="valueChangeDIV($event)"
        [valuePrimitive]="true" [formControl]="formGroup.get('DIV')">
        </kendo-dropdownlist>
        </ng-template>
    </kendo-grid-column-->

      <kendo-grid-column  field="ASSIGNEE_TYPE" title="Assignee Type" [width]="80">
        <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetASSIGNEE_TYPE(dataItem.ASSIGNEE_TYPE)?.CODETEXT_LANG}} </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
        <kendo-dropdownlist  [data]="lkpArrASSIGNEE_TYPE"  textField="CODETEXT_LANG" valueField="CODE"
        (valueChange)="valueChangeASSIGNEE_TYPE($event)"
        [valuePrimitive]="true" [formControl]="formGroup.get('ASSIGNEE_TYPE')">
        </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column  field="ASSIGNEE" title="Assignee" [width]="80">
        <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetASSIGNEE(dataItem.ASSIGNEE,dataItem.ASSIGNEE_TYPE)?.CODETEXT_LANG}} </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
        <kendo-dropdownlist  [data]="getlkpArrASSIGNEE()"  textField="CODETEXT_LANG" valueField="CODE"
        [valuePrimitive]="true" [formControl]="formGroup.get('ASSIGNEE')">
        </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>

	<kendo-grid-column  field="DURATION"
       title="Days" [width]="50"></kendo-grid-column>

  <kendo-grid-column  field="DEPENDANT_WO_ORDER"  title="Parent" [width]="80" *ngIf="showAll">
        <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDEPENDANT_WO_ORDER(dataItem.DEPENDANT_WO_ORDER)?.CODETEXT_LANG}} </ng-template>
        <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
        <kendo-dropdownlist  [data]="lkpArrDEPENDANT_WO_ORDER"  textField="CODETEXT_LANG" valueField="CODE"
        [valuePrimitive]="true" [formControl]="formGroup.get('DEPENDANT_WO_ORDER')">
        </kendo-dropdownlist>
        </ng-template>
      </kendo-grid-column>



  <kendo-grid-column  field="APPROVE_SEQ"  title="If Approved" [width]="80">
    <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDETAIL(dataItem.APPROVE_SEQ)?.CODETEXT_LANG}} </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
    <kendo-dropdownlist  [data]="lkpArrDETAIL"  textField="CODETEXT_LANG" valueField="CODE"
    [valuePrimitive]="true" [formControl]="formGroup.get('APPROVE_SEQ')">
    </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column  field="REJECT_SEQ"  title="If Rejected" [width]="80">
    <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDETAIL(dataItem.REJECT_SEQ)?.CODETEXT_LANG}} </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
    <kendo-dropdownlist  [data]="lkpArrDETAIL"  textField="CODETEXT_LANG" valueField="CODE"
    [valuePrimitive]="true" [formControl]="formGroup.get('REJECT_SEQ')">
    </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>

    <kendo-grid-column  field="MODIFY_SEQ"  title="If Modify" [width]="80">
    <ng-template kendoGridCellTemplate let-dataItem> {{lkpArrGetDETAIL(dataItem.MODIFY_SEQ)?.CODETEXT_LANG}} </ng-template>
    <ng-template kendoGridEditTemplate let-dataItem let-formGroup="formGroup">
    <kendo-dropdownlist  [data]="lkpArrDETAIL"  textField="CODETEXT_LANG" valueField="CODE"
    [valuePrimitive]="true" [formControl]="formGroup.get('MODIFY_SEQ')">
    </kendo-dropdownlist>
    </ng-template>
  </kendo-grid-column>



  <kendo-grid-column  field="FORM_PAGES_NO"
       title="Form Pages" [width]="40" ></kendo-grid-column>

  <kendo-grid-command-column  title="View" [width]="60">
    <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridEditCommand (click)="showMultiStepForm(dataItem)" [primary]="true" >Form</button>
        </ng-template>
    </kendo-grid-command-column>

    <kendo-grid-command-column  title="Rule" [width]="60">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button kendoGridEditCommand (click)="showRules(dataItem)" [primary]="true" >Rule</button>
      </ng-template>
  </kendo-grid-command-column>


                       <kendo-grid-pdf [fileName]="PDFfileName" [allPages]="true" paperSize="A4" [repeatHeaders]="true" [landscape]="true">
                        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
                        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
                         <div class="page-template">
                            <div class="header">
                              <div style="float: center">{{ title }}</div>
                            </div>
                            <div class="footer">
                              Page {{ pageNum }} of {{ totalPages }}
                            </div>
                          </div>
                        </ng-template>
                    </kendo-grid-pdf>
                    <kendo-grid-excel fileName="ExcelfileName" ></kendo-grid-excel>

    </kendo-grid>

    <app-dsp-diagram-wrap
    [setComponentConfig_Input]="app_dsp_diagram_wrapConfig">
    </app-dsp-diagram-wrap>
    
    </kendo-pdf-export>
    <div [hidden]="!multiStepFormOpened" >
      <kendo-dialog [title]="DSP_MULTISTEPFormConfig?.masterParams?.formName || 'Form title'" (close)="multiStepFormClose()"
        resizable="true"
        width="80%" [height]="fieldGridHeight+200">

        <app-dsp-multistep
        (saveCompletedOutput)="savemultiStepFormCompletedHandler($event)"
        [setComponentConfig_Input]="DSP_MULTISTEPFormConfig">
        </app-dsp-multistep>
      </kendo-dialog>
      </div>

      <div [hidden]="!rulesDefOpened" >
        <kendo-dialog title="Rules Def" (close)="rulesDefClose()" 
          resizable="true"
          [minWidth]="800" [width]="1000" [height]="700">
          <app-adm-rules
          [setComponentConfig_Input]="ADM_RULESConfig"  
          >
          </app-adm-rules>
        </kendo-dialog>
        </div>