<div>
    <legend *ngIf="componentConfig.showToolBar"  class="k-form-legend">{{
      componentConfig.title ? componentConfig.title :
       this.starServices.getNLS([],"SCD_AD_APPLICATION.scdapplicationScdAdApplication.component_title","Application") }}</legend>
<div class="form-toolbar"> </div>

<kendo-toolbar class="form-toolbar" *ngIf="componentConfig.showToolBar">

 
    <kendo-toolbar-button [icon]="'sliders'" [disabled]="isSearch"  text="{{isPhonePortrait ? null : starServices.getNLS([],'ENTER_QUERY','Filter')}}" title="{{starServices.getNLS([],'ENTER_QUERY','Filter')}}" (click)="enterQuery( form);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'search'"  title="{{starServices.getNLS([],'EXECUTE_QUERY','Execute Query')}}"  (click)="executeQuery( form.value);" *ngIf="componentConfig.queryable"></kendo-toolbar-button>
    <kendo-toolbar-button  [icon]="'cancel'"  title="{{starServices.getNLS([],'CANCEL','Cancel')}}"  (click)="onCancel($event)" *ngIf="componentConfig.queryable"></kendo-toolbar-button >

    <kendo-toolbar-buttongroup selection="single" *ngIf="starServices.dataExits(this) && (componentConfig.queryable || componentConfig.navigable)">
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-right' : 'arrow-double-60-left'" title="{{starServices.getNLS([],'FIRST_RECORD','First Record')}}" (click)="goRecord( 'first');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-right' : 'arrow-60-left'"  title="{{starServices.getNLS([],'PREVIOUS_RECORD','Previous Record')}}"  (click)="goRecord(  'prev');" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-60-left' : 'arrow-60-right'" title="{{starServices.getNLS([],'NEXT_RECORD','Next Record')}}"  (click)="goRecord('next')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button >
        <kendo-toolbar-button  [icon]="userLang === 'AR' ? 'arrow-double-60-left' : 'arrow-double-60-right'" title="{{starServices.getNLS([],'LAST_RECORD','Last Record')}}" (click)="goRecord('last')" *ngIf="componentConfig.navigable && !isSearch"></kendo-toolbar-button>
    </kendo-toolbar-buttongroup>

    <kendo-toolbar-button [icon]="'plus'" title="{{starServices.getNLS([],'INSERT_RECORD','Insert Record')}}" (click)="onNew($event);" *ngIf="componentConfig.insertable && !isSearch"></kendo-toolbar-button>

    <kendo-toolbar-button kendoButton [icon]="'save'" title="{{starServices.getNLS([],'SAVE','Save')}}" (click)="saveChanges( form)" *ngIf="(starServices.dataExits(this)|| isNew) && !isChild && componentConfig.updateable && !isSearch"></kendo-toolbar-button>
    <kendo-toolbar-button [icon]="'trash'" title="{{starServices.getNLS([],'DELETE_RECORD','Delete Record')}}" (click)="onRemove( form);" *ngIf=" starServices.dataExits(this) && componentConfig.removeable && !isSearch">Remove</kendo-toolbar-button>

    <kendo-toolbar-button kendoButton  *ngIf="starServices.helpMsg !=='' "  text="{{starServices.helpMsg}}"    ></kendo-toolbar-button>     
</kendo-toolbar>


<kendo-pdf-export #pdf paperSize="A4" margin="2cm">
 <div class="form-borders" > 
    <form class="form-layout" [ngClass]="isPhonePortrait ? 'k-form k-form-horizontal-star' : 'k-form k-form-horizontal' "
     [formGroup]="form" (click)="ON_CLICK(form.value)">
    <!--fieldset class="form-fieldset"  class="k-form-fieldset" [disabled]="!componentConfig.enabled && !isSearch"-->
    <fieldset class="form-fieldset"  class="k-form-fieldset" >


<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelAPPLICATION_IDTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleAPPLICATION_ID >
		<kendo-label *ngIf="(!labelAPPLICATION_IDTop && !isPhonePortrait) && labelAPPLICATION_IDVisible" class="form-label" [for]="APPLICATION_ID" [text]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APPLICATION_ID','Application Id') + ' *'"></kendo-label>
		<label *ngIf="(labelAPPLICATION_IDTop || isPhonePortrait) && labelAPPLICATION_IDVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APPLICATION_ID','Application Id') + ' *'}}</label>
		<input   formControlName="APPLICATION_ID"
 kendoTextBox #APPLICATION_ID 
		[readonly]="primarKeyReadOnlyArr.isAPPLICATION_IDreadOnly" [placeholder]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APPLICATION_ID_Hint','Please enter Application Id.')"
		(click)="ON_CLICK_APPLICATION_ID($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_APPLICATION_ID($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelAPPLICATION_NAMETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleAPPLICATION_NAME >
		<kendo-label *ngIf="(!labelAPPLICATION_NAMETop && !isPhonePortrait) && labelAPPLICATION_NAMEVisible" class="form-label" [for]="APPLICATION_NAME" [text]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APPLICATION_NAME','Application Name')"></kendo-label>
		<label *ngIf="(labelAPPLICATION_NAMETop || isPhonePortrait) && labelAPPLICATION_NAMEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APPLICATION_NAME','Application Name')}}</label>
		<input   formControlName="APPLICATION_NAME"
 kendoTextBox #APPLICATION_NAME  [placeholder]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APPLICATION_NAME_Hint','Please enter Application Name.')"
		(click)="ON_CLICK_APPLICATION_NAME($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_APPLICATION_NAME($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelDESCRIPTIONTop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleDESCRIPTION >
		<kendo-label *ngIf="(!labelDESCRIPTIONTop && !isPhonePortrait) && labelDESCRIPTIONVisible" class="form-label" [for]="DESCRIPTION" [text]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.DESCRIPTION','Description')"></kendo-label>
		<label *ngIf="(labelDESCRIPTIONTop || isPhonePortrait) && labelDESCRIPTIONVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.DESCRIPTION','Description')}}</label>
		<input   formControlName="DESCRIPTION"
 kendoTextBox #DESCRIPTION  [placeholder]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.DESCRIPTION_Hint','Please enter Description.')"
		(click)="ON_CLICK_DESCRIPTION($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_DESCRIPTION($event)"      adaptiveMode="auto"  />
	</kendo-formfield>


</div>
<div [ngClass]="isPhonePortrait || customerFacing ? 'wrapno1' : 'wrap' ">
	<kendo-formfield class="form-field" [orientation]="'horizontal'" [ngClass]="(labelAPP_LANGUAGETop || (isPhonePortrait && !customerFacing) ) ? 'displayBlock' : 'standard' "  *ngIf=visibleAPP_LANGUAGE >
		<kendo-label *ngIf="(!labelAPP_LANGUAGETop && !isPhonePortrait) && labelAPP_LANGUAGEVisible" class="form-label" [for]="APP_LANGUAGE" [text]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APP_LANGUAGE','App Language')"></kendo-label>
		<label *ngIf="(labelAPP_LANGUAGETop || isPhonePortrait) && labelAPP_LANGUAGEVisible" class="form-label"  >{{starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APP_LANGUAGE','App Language')}}</label>
		<input   formControlName="APP_LANGUAGE"
 kendoTextBox #APP_LANGUAGE  [placeholder]="starServices.getNLS([],'SCD_AD_APPLICATION.scdapplicationScdAdApplication.APP_LANGUAGE_Hint','Please enter App Language.')"
		(click)="ON_CLICK_APP_LANGUAGE($event)"
[ngClass]="customerFacing ?  'summaryClass' : 'form-input' " (change)="onChange_APP_LANGUAGE($event)"      adaptiveMode="auto"  />
	</kendo-formfield>
</div>

    </fieldset>
    </form>
    </div>
    <app-dsp-upload (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_UPLOADConfig">
		</app-dsp-upload>

      <app-dsp-webcam (saveCompletedOutput)="this.starServices.att_img_saveFormCompletedHandler($event,this)"
			[setComponentConfig_Input]="DSP_WEBCAMConfig">
		</app-dsp-webcam>

</kendo-pdf-export>
</div>

<div [hidden]="!showCodeDetails">
	<kendo-dialog 
	(close)="showCodeDetails=false;setlookupArrDef();" resizable="true" [minWidth]="800" [width]="700" [height]="500"
	  title="Add Code">
	  <app-som-tabs-codes-grid 
	  [detail_Input]="grid_som_tabs_codes"  
	  [setComponentConfig_Input]="SOM_TABS_CODESConfig">
	</app-som-tabs-codes-grid>
  
	</kendo-dialog>
  </div>
  




