<div >
    <legend>{{ title }}</legend>
   
 

    <form class="form-layout" class="k-form k-form-horizontal"  >
        <fieldset class="k-form-fieldset" class="form-fieldset"  >
            

            <kendo-editor  *ngIf="enableHtmlEditor" [value]="value" (valueChange)="valueChange($event)"  style="height: 300px;">
                    
                </kendo-editor >
                <kendo-textarea   *ngIf="enableTextEditor" [rows]="10" [value]="value" (valueChange)="valueChange($event)"></kendo-textarea>
          </fieldset>
          <!-- <event-log title="Event log" [events]="events"></event-log> -->
    </form>
    <div>
        <button class="k-button k-primary" kendoButton (click)="submit()" >Submit</button>
    </div>
</div>